@font-face {
  font-family: NeueHaasGroteskRegular;
  src: url('../fonts/NeueHaasGroteskRegular.ttf');
}

@font-face {
  font-family: NeueHaasGroteskMedium;
  src: url('../fonts/NeueHaasGroteskMedium.ttf');
}

@font-face {
  font-family: NeueHaasGroteskBold;
  src: url('../fonts/NeueHaasGroteskBold.ttf');
}