$color-white: #ffffff;
$color-white-3: rgba(255, 255, 255, 0.3);
$alabaster_white: #f8f8f8;
$color-strokes: #e9edf1;
$dropdown_grey: #ebebeb;
$color-alert: #f5a623;
$tussock_color: #CA9954;
$color-success: #66af24;
$valencia: #d84040;
$color-error: #b85151;
$bondi_blue: #02A8B2;
$layout-blue: #1898cd;
$deep-cerulean: #0077B6;
$dark-blue: #0a346e;
$alto: #d6d6d6;
$light_grey: #999999;
$text-alternate: #9b9b9b;
$gray: #929090;
$dove-gray: #646464;
$color-primary: #879AA8;
$regent-gray: #8799A7;
$bali-hai: #8999a9;
$boulder_grey: #7D7C7C;
$color-secondary: #5E6E7A;
$text-main: #4a4a4a;
$kelp: #3d3f39;
$kelp-8: rgba(61, 63, 57, 0.8);
$dark_grey: #363636;
$mine_grey: #333333;
$emulsion-grey: #191919;
$cod_gray: #0A0A0A;
$black: #000000;
$black-8: rgba(0, 0, 0, 0.8);
$bg-red: #ca0a13;
$bg-blue: #6fc9d3;

$baseFontSize: 16; // Font Family
$neue_hgd_Black: 'Haas Grot Disp 95';
$neue_hgd_Thin: 'Haas Grot Disp 35';
$neue_hgd_Light: 'Haas Grot Disp 45';
$neue_hgd_Regular: 'NeueHaasGroteskText Pro';
$neue_hgd_Bold: 'Haas Grot Disp 75';
$neue_hgd_Medium: 'Haas Grot Disp 65';
$neue_hgd_Roman: 'Haas Grot Disp 55 Roman';
$helvetica_font: 'helvetica';
$Arial: Arial, sans-serif;
