// Colors
$color-primary: #879AA8;
$color-secondary: #5E6E7A;
$text-main: #4a4a4a;
$text-alternate: #9b9b9b;
$color-strokes: #e9edf1;
$color-success: #66af24;
$color-error: #b85151;
$color-alert: #f5a623;