<div class="add-new-education-container" [ngClass]="{'show': show}">
  <div class="new-item-container">
    <p class="title">Dental School</p>
    <div class="item-body">
      <ng-select
        class="custom-select"
        [items]="detenSchoolList"
        [(ngModel)]="education.dental_school.id"
        appendTo="body"
        bindLabel="name"
        bindValue="id"
        class="select-item"
        placeholder="Select Dental school">
      </ng-select>
    </div>
  </div>
  <div class="new-item-container">
    <span class="title">Year of Graduation</span>
    <div class="input-group">
      <input type="text" [(ngModel)]="education.end_time">
      <span class="fa fa-pencil"></span>
    </div>
  </div>
</div>
