<div class="add-new-education-container" [ngClass]="{'show': show}">
  <div class="new-item-container">
    <p class="title">Dental School</p>
    <div class="item-body">
      <ng-select
        class="custom-select"
        [items]="detenSchoolList"
        [(ngModel)]="education.dental_school.id"
        appendTo="body"
        bindLabel="name"
        bindValue="id"
        class="select-item"
        placeholder="Select Dental school">
      </ng-select>
    </div>
  </div>
  <div class="new-item-container">
    <div class="date-picker-container">
      <span class="title">Year of Graduation</span>
      <div class="input-group date-control">
        <input
          class="input-date-time"
          [container]="'body'"
          placeholder="yyyy-mm-dd"
          [(ngModel)]="endTime"
          name="dp"
          ngbDatepicker
          #from="ngbDatepicker">
        <div class="icon-calendar-wrap">
          <img class="icon-calendar" src="./assets/images/icons/icon-calendar.png" (click)="from.toggle()">
        </div>
      </div>
    </div>
  </div>
</div>
