@import 'variables';

:host {
  h2 {
    font-family: $neue_hgd_Thin;
    font-size: 50px;
    line-height: 60px;
  }

  h3 {
    font-family: $neue_hgd_Thin;
    font-size: 47px;
    line-height: 65px;
    margin-bottom: 25px;
  }

  span.by {
    font-size: 30px;
    line-height: 26px;
  }
}

@media only screen and (max-width:1600px) {
  :host {
    h2 {
      font-size: 60px;
      line-height: 75px;
    }

    h3 {
      font-size: 42px;
      line-height: 55px;
    }
  }
}

@media only screen and (max-width:1199px) {
  .top-head {
    padding: 20px 0;
  }
}

@media only screen and (max-width:1199px) {
  :host {
    h2 {
      font-size: 52px;
      line-height: 70px;
    }

    h3 {
      font-size: 35px;
      line-height: 45px;
    }

    span.by {
      font-size: 24px;
    }
  }
}
