<div class="events-banner">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides" #slider>
      <dsod-event-slide [content]="con" *ngFor="let con of content">>
      </dsod-event-slide>
    </ul>
  </div>
  <div class="glide__arrows event-controls" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><img src="assets/images/arrow-left.png" alt=""></button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><img src="assets/images/arrow-right.png" alt=""></button>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <section class="filter-events">
        <dosd-filter-select label="Filter events by"></dosd-filter-select>
        <ngb-datepicker #dp [(ngModel)]="eventDate" (ngModelChange)="onSelectDate(e)" (navigate)="date = $event.next"></ngb-datepicker>
        <dsod-event-training></dsod-event-training>
      </section>
    </div>
    <div class="col-md-9">
      <h2 class="section-title mt-5">Events</h2>
      <div class="row">
        <div class="col-md-4" *ngFor="let number of [0,1,2,3,4,5,6,7,8]">
          <dsod-event-card></dsod-event-card>
        </div>
      </div>
    </div>
  </div>
</div>
