@import "variables";

.dso-practice {
  .dso-practice-banner {
    position: relative;
    max-width: 1145px;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    background: url("../../../../../assets/images/dso-practice-banner.jpg");
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;

    img {
      width: 100%;
    }

    .banner-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.55);
    }

    .banner-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      max-width: 1300px;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;

      h1 {
        font-size: 50px;
        font-weight: normal;
        margin-bottom: 50px;
      }

      p {
        color: $color-white;
        font-size: 20px;
      }

    }
  }

  .practice-content {
    h2.content-title {
      color: $text-main;
      text-align: center;
      font-size: 35px;
      margin: 50px 0 30px;
      font-weight: normal;
    }

    .tabs-wrapper {
      /deep/ .nav-tabs {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-bottom: none;
        margin-bottom: 30px;

        .nav-item {
          .nav-link {
            border-radius: 0px;
            border: 1px solid #ccc;
            border-width: 1px 0px 1px 1px;
            min-width: 100px;
            text-align: center;
            color: $mine_grey;
            font-size: 20px;

            &.active {
              background: $dropdown_grey;
            }
          }

          &:last-child {
            .nav-link {
              border-right: 1px solid #ccc;
            }
          }
        }
      }

      /deep/ .tab-content {
        .tab-pane {
          min-height: 600px;
        }
      }
    }
  }
}


@media only screen and (max-width:1440px) {
  .dso-practice {
    .dso-practice-banner {
      .banner-caption {
        h1 {
          font-size: 35px;
          margin-bottom: 40px;
        }

        p {
          font-size: 18px;
        }

      }
    }
  }
}
