<div class="dso-practice">
  <div class="dso-practice-banner">
    <!-- <img src="assets/images/dso-practice-banner.png" alt=""> -->
    <div class="banner-overlay"></div>
    <div class="banner-caption">
      <h1 class="text-white">Slogan Here</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptate a</p>
    </div>
  </div>
  <div class="practice-content">
    <div class="container">
      <h2 class="content-title">DSO Practice</h2>
      <div class="tabs-wrapper">
        <tabset>
          <tab heading="All" (select)="filterType('All')">
            <dsod-practice-page-tab *ngIf="selectedTab=='All'" [contentTypeId]="contentTypeId"></dsod-practice-page-tab>
          </tab>
          <tab heading="Article" (select)="filterType('Articles')">
            <dsod-practice-page-tab *ngIf="selectedTab=='Articles'" [contentTypeId]="contentTypeId"></dsod-practice-page-tab>
          </tab>
          <tab heading="Video" (select)="filterType('Videos')">
            <dsod-practice-page-tab *ngIf="selectedTab=='Videos'" [contentTypeId]="contentTypeId"></dsod-practice-page-tab>
          </tab>
          <tab heading="Podcast" (select)="filterType('Podcasts')">
            <dsod-practice-page-tab *ngIf="selectedTab=='Podcasts'" [contentTypeId]="contentTypeId"></dsod-practice-page-tab>
          </tab>
          <tab heading="Visual Essays" (select)="filterType('Visual Essay')">
            <dsod-practice-page-tab *ngIf="selectedTab=='Visual Essay'" [contentTypeId]="contentTypeId"></dsod-practice-page-tab>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
