@import 'variables';

:host {
  .top-head {
    .pod-title {
      h3 {
        font-size: 30px;
        color: $boulder_grey;
        margin-left: 15px;
        font-family: $Arial;
      }
    }

    >span {
      font-size: 22px;
      color: $color-primary;
      font-family: $Arial;
    }
  }  
}

@media only screen and (max-width:1440px){
  :host {
    .top-head {
      .pod-title {
        h3 {
          font-size: 24px;
        }
      }

      >span {
        font-size: 19px;
      }
    }
  }
}
