@import 'variables';

:host {
  .top-head {
    .pod-title {
      h3 {
        font-size: 30px;
        color: $boulder_grey;
        margin-left: 15px;
        font-family: $Arial;
      }
    }

    >span {
      font-size: 22px;
      color: $color-primary;
      font-family: $Arial;
    }
  }
}
