<div class="events">
  <h2 class="section-title">Events <a [routerLink]="['./events']">See all</a></h2>
  <div class="event-block" [routerLink]="['./events/10']">
    <div class="event-date">
      <h3>June</h3>
      <h4>15</h4>
    </div>
    <div class="event-thumbnail">
      <img src="./assets/images/event-1.png" class="img-fluid" alt="">
    </div>
    <div class="event-content">
      <h3>Vital First Steps for a New Dentist</h3>
      <span class="event-by">Dr. Shach Bahadur</span>
      <p>Thursday, 9 PM – 10 PM EST</p>
      <div class="event-content-footer ">
        <span class="event-level"><img src="assets/images/level-1.png" alt="">Beginner</span>
        <span class="free-text">Free</span>
      </div>
    </div>
  </div>

  <div class="event-block" [routerLink]="['./events/11']">
    <div class="event-date">
      <h3>July</h3>
      <h4>07</h4>
    </div>
    <div class="event-thumbnail">
      <img src="./assets/images/event-2.png" class="img-fluid" alt="">
    </div>
    <div class="event-content">
      <h3>Improving Oral Hygiene and Health by Reducing Dental Plaque Biofilm</h3>
      <span class="event-by">Christine Hovliaras, RDH</span>
      <p>Saturday, 10 AM – 11 AM EST</p>
      <div class="event-content-footer ">
        <span class="event-level"><img src="./assets/images/level-2.png" alt="">Advanced</span>
        <span class="free-text">Free</span>
      </div>
    </div>
  </div>
  <div class="event-block" [routerLink]="['./events/12']">
    <div class="event-date">
      <h3>July</h3>
      <h4>26</h4>
    </div>
    <div class="event-thumbnail">
      <img src="./assets/images/event-3.png" class="img-fluid" alt="">
    </div>
    <div class="event-content">
      <h3>Key Questions to Ask When Considering an Associateship</h3>
      <span class="event-by">Dr. Niv Rajagopalan</span>
      <p>Tuesday, 9 PM – 10 PM EST</p>
      <div class="event-content-footer ">
        <span class="event-level"><img src="./assets/images/level-2.png" alt="">Advanced</span>
        <span class="free-text">Free</span>
      </div>
    </div>
  </div>
  <div class="event-block" [routerLink]="['./events/1']">
    <div class="event-date">
      <h3>Aug</h3>
      <h4>10</h4>
    </div>
    <div class="event-thumbnail">
      <img src="./assets/images/event-4.png" class="img-fluid" alt="">
    </div>
    <div class="event-content">
      <h3>Exploring the Importance of Pediatric Dentistry</h3>
      <span class="event-by">Dr. Greg Psaltis</span>
      <p>Friday, 9 PM – 10 PM EST</p>
      <div class="event-content-footer ">
        <span class="event-level"><img src="./assets/images/level-2.png" alt="">Advanced</span>
        <span class="free-text">Free</span>
      </div>
    </div>
  </div>
  <div class="event-block" [routerLink]="['./events/2']">
    <div class="event-date">
      <h3>Aug</h3>
      <h4>22</h4>
    </div>
    <div class="event-thumbnail">
      <img src="./assets/images/event-5.png" class="img-fluid" alt="">
    </div>
    <div class="event-content">
      <h3>Tips for Keeping Student Loan Debt in Check</h3>
      <span class="event-by">Dr. Ashley Keen</span>
      <p>Friday, 1 PM – 2 PM EST</p>
      <div class="event-content-footer ">
        <span class="event-level"><img src="./assets/images/level-1.png" alt="">Beginner</span>
        <span class="free-text">Free</span>
      </div>
    </div>
  </div>
  <div class="event-block" [routerLink]="['./events/3']">
    <div class="event-date">
      <h3>Sept</h3>
      <h4>10</h4>
    </div>
    <div class="event-thumbnail">
      <img src="./assets/images/event-6.png" class="img-fluid" alt="">
    </div>
    <div class="event-content">
      <h3>The Oral Environment and its Effect on Teeth</h3>
      <span class="event-by">Dr. Kenneth Markowitz</span>
      <p>Monday, 9 PM – 10 PM EST</p>
      <div class="event-content-footer ">
        <span class="event-level"><img src="./assets/images/level-3.png" alt="">Expert</span>
        <span class="free-text">Free</span>
      </div>
    </div>
  </div>
</div>
