.image-header-container {
  background: url('../../../../assets/images/education_header_sm.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  width: 60%;
  margin: auto;
}
.content-wrapper {
  padding-top: 50px;
}
