<div class="article-content" *ngIf="content">
  <p class="sub-head">{{content.content}}</p>
  <!-- <p class="sub-head">
    What if there were a simple, fun, and powerful trick you could use in your DSO-supported practice that
    would improve financial results, staff satisfaction, and patient retention, all without costing a penny?
    That simple
    management pearl is the morning huddle. A well-orchestrated morning huddle can add to your bottom line and
    ensure that the team receives consistent bonuses by adding more revenue through creating opportunities or
    <a href="#">preventing
      missed ones</a>.
  </p> -->
  <!-- <p>From an operational standpoint, the morning huddle is a check-in to review who is there, who is out sick,
    what patients are coming in, and what challenges may be identified in the schedule. Holes in the schedule
    are
    identified so that your team then has a chance to fill them. Typically, it provides an opportunity to
    discuss challenging patients, to strategize the day, and to practice management statistics such as no-show
    rates.
    Equally important, however, is the sense of teamwork and community that results from a quick huddle every
    day. It is an opportunity to leverage the power of communication within your team.</p>
  <h3 class="para-title">Here are some steps for a successful morning huddle: </h3>
  <ul>
    <li><i>Set it up.</i>Believe that a morning huddle is like breakfast. Every day should start with it. Make
      it part of your practice culture. </li>
    <li><i>Be a good example.</i> As the leader, expect to arrive at the office 10 to 15 minutes before your
      huddle begins. Every team member must make the same commitment. </li>
    <li><i>Make it <a href="#">productive.</a></i> Charts, schedules, accounts, and business numbers must be
      prepared and reviewed the day prior to each huddle. </li>
    <li><i>Share it.</i> Allow each employee to lead the meetings in turn. This improves buy-in and commitment
      and makes it more fun. Have a huddle agenda that may be used by everyone posted on a whiteboard where the
      meeting
      is
      held. This improves consistency and cuts down on distractions. As an added bonus, a daily joke at the end
      of every morning huddle starts the day with a smile! </li>
    <li><i>Don’t waste time.</i> Use a checklist to guide your morning huddle. When a discussion threatens to
      take over the huddle, post the topic on a team meeting agenda form to discuss at your next staff meeting
      and place
      the
      form where you conduct your huddle. </li>
    <li><i>Sign up.</i> Create a nice sign to let your patients know that, “In order to be better prepared for
      your visit, we are in a brief team meeting. We will be with you promptly at 8:00 AM.” This will ensure
      that a
      patient
      isn’t left feeling unwelcome at the front desk. </li>
    <li><i>Start and finish on time.</i> Don’t reward stragglers by waiting for them or punish those who are on
      time by making them wait. </li>
    <li><i>Be positive.</i> Encourage team members to be responsible for bringing thoughts for the day. </li>
    <li><i>Stand up. Don’t sit.</i> This is not a coffee break. Standing enforces the point that you are all on
      the clock and getting ready to jump into another great day. </li>
    <li><i>Listen up.</i> The morning huddle is one consistent opportunity to get feedback from your staff
      regarding trends in the practice, specific patients on the schedule, ideas for best practices, and
      changes to
      celebrate. Let
      your staff know how important they are as pivotal members of the team. </li>
  </ul>
  <p>Once you begin having a morning huddle, even with its inherent obstacles, you’ll wonder how your office
    ever got through the day without one! </p> -->
</div>
