<div class="search-item latest-layout-row">
  <div class="row">
    <div class="col-5">
      <div class="search-item-thumbnail">
        <img *ngIf="topic.featuredMedia?.type !== '6'"
          (click)="navigateTo(topic)"
          src={{topic.featuredMedia.code.originalUrl}}
          class="img-fluid"
          alt="Feautred Thumbnail Large" />
        <div *ngIf="topic.featuredMedia?.type === '6'" class="img-fluid" [innerHTML]="iFrameCode"></div>
        <a *ngIf="topic.contentTypeName" href="javascript:void(0)" (click)="navigateTo(topic)" class="read-about">
          <img src="assets/images/icons/{{topic.contentTypeName}}.png" alt="">
        </a>
      </div>
    </div>
    <div class="col-7 pr-5">
      <div class="search-item-header">
        <h4>{{topic.categoryName}}</h4>
        <dsod-rating [avgRating]="topic.avgCommentRating" [commentsCount]="topic.countOfComment"></dsod-rating>
      </div>
      <div class="search-item-content">
        <h2 class="topic-title mb-3">{{topic.title}}</h2>
        <em *ngIf="topic.author">By&nbsp;{{topic.author.fullName}}</em>
        <dsod-excerpt [topic]="topic" contentLength=400 styleFor="content-lg"></dsod-excerpt>
      </div>
    </div>
  </div>
</div>
