@import 'variables';

.search-item {
  margin: 15px 0 33px;
  background: #f8f8f8;
  font-family: $Arial;
  .search-item-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 21px 15px 9px;
    h4 {
      color: $color-primary;
      font-size: 22px;
    }
  }
  .search-item-thumbnail {
    position: relative;
    border-top: 3px solid $mine_grey;
    cursor: pointer;
    padding-top: 100%;
    >img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
    }
    a.read-about {
      position: absolute;
      display: inline-block;
      left: 25px;
      bottom: 25px;
    }
  }
  .search-item-content {
    padding: 15px 30px 25px 0;
    h2.topic-title {
      font-weight: 500;
      font-size: 24px;
      color: $black;
    }
    em {
      font-size: 18px;
      font-weight: 600;
      display: block;
      font-style: italic;
    }
  }
  p {
    font-size: 22px;
    line-height: 36px;
    a {
      color: $deep-cerulean;
    }
  }
}
.search-item-caption {
  background: $regent-gray;
  padding: 5px 15px;
  h4 {
    color: $color-white;
  }
}
.latest-layout-row {
  .search-item-header {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid $regent-gray;
  }
  .search-item-thumbnail {
    border: none;
  }
}
.search-item-sm {
  .search-item-thumbnail {
    a.read-about {
      bottom: 40px;
    }
  }
}

@media only screen and (max-width: 1680px) {
  .search-item {
    .search-item-header {
      h4 {
        font-size: 20px;
      }
    }
  }
}
