@import 'variables';

.article-header {
  color: $text-main;
  padding: 5px 0;

  h2 {
    font-family: $neue_hgd_Thin;
    font-size: 50px;
    line-height: 60px;
  }

  h3 {
    font-family: $neue_hgd_Thin;
    font-size: 47px;
    line-height: 65px;
    margin-bottom: 25px;
  }

  span.by {
    font-size: 30px;
    line-height: 26px;
  }
}

.article-thumbnail {

  img {
    margin-bottom: 15px;
    width: 100%;
  }

  p {
    color: $text-main;
    font-size: 22px;
    line-height: 35px;
  }
}
