<div class="top-head d-flex justify-content-between" *ngIf="content">
  <ul>
    <li>Education /</li>
    <li>Practice Management</li>
  </ul>
  <dsod-rating [rating]="content.avgCommentRating"></dsod-rating>
</div>
<div class="article-header" *ngIf="content">
  <div class="row">
    <div class="col-lg-10">
      <h2>{{content.title}}:</h2>
      <!-- <h3>The Morning Huddle</h3> -->
      <span class="by" *ngIf="content.author">by {{content.author.fullName}}</span>
    </div>
    <div class="col-lg-2">
      <dsod-content-actions></dsod-content-actions>
    </div>
  </div>
</div>
<div class="article-thumbnail" *ngIf="content">
  <img src={{content.featuredMedia.code.originalUrl}} class="img-fluid" alt="">
  <p><b>Figure.</b>{{content.title}}</p>
</div>
