<div class="top-head d-flex justify-content-between" *ngIf="content">
  <ul>
    <li>Education /</li>
    <li>{{content.categoryName}}</li>
  </ul>
  <dsod-rating [avgRating]="rating"></dsod-rating>
</div>
<div class="article-header" *ngIf="content">
  <div class="row">
    <div class="col-10">
      <h2>{{content.title}}</h2>
      <span class="by" *ngIf="content.author">by {{content.author.fullName}}</span>
    </div>
    <div class="col-2">
<dsod-content-actions [content]="content" [isLoggedIn]="isLoggedIn"></dsod-content-actions>
    </div>
  </div>
</div>
<dsod-feartured-media [featuredMedia]="content.featuredMedia" styleFor="header"></dsod-feartured-media>
