@import 'variables.scss';

.trending-block {
  margin: 15px 0 33px;
  background: #f8f8f8;
  cursor: pointer;

  /deep/ iframe {
    width: 100% !important;
    position: relative !important;
    height: 223px !important;
  }

  .trending-block-header {
    display: flex;
    justify-content: space-between;
    padding: 21px 15px 9px;

    h4 {
      color: $color-primary;
      font-size: 18px;
    }
  }

  .trending-block-video {
    position: relative;
    border-top: 3px solid $mine_grey;
    position: relative;

    >img {
      width: 100%;
    }

    /deep/ iframe {
      width: 100%;
    }

    a.play-icon {
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .trending-block-caption {
    background: $regent-gray;
    padding: 9px 15px;

    h4 {
      color: $color-white;
      font-size: 18px;
      margin: 0;
      overflow: hidden;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@media only screen and (max-width:1680px) {
  .trending-block {
    .trending-block-header {
      h4 {
        font-size: 16px;
      }
    }
  }
}

@media only screen and (max-width:1440px) {
  .trending-block {
    .trending-block-caption {
      h4 {
        font-size: 16px;
      }
    }

    /deep/ iframe {
      width: 100% !important;
      position: relative !important;
      height: 173px !important;
    }
  }
}
