<div>
  <section class="trending-videos">
    <h2 class="section-title">Trending Videos</h2>
    <div class="row">
      <div class="col-lg-12 col-md-7">
        <div *ngFor="let topic of trendingTopics">
          <dsod-trending-item [trendingItem]="topic" [sponsorName]="sponsorName"></dsod-trending-item>
        </div>
      </div>
      <div class="col-lg-12 col-md-5">
        <a [routerLink]="['/sponsors/GSK']">
          <dsod-sponsored-ad [sponsorName]="sponsorName"></dsod-sponsored-ad>
        </a>
      </div>
    </div>
  </section>
</div>
