<div class="speakers-content">
  <div class="speakers-block">
    <h2>Speaker's Bio</h2>
    <p>Dr. Kristen Graham practices biologic dental medicine, which incorporates the principles of functional
      medicine along with science of biologic and functional dentistry. Dr Graham graduated from the University
      of Maryland
      School of Dentistry. She started early down the functional path when she co-authored on a paper while at
      UMSOD on Bis-Phenol A, published in the Academy of General Dentistry in 2012. … <a href="#">[more]</a></p>
  </div>
  <div class="speakers-block">
    <h2>Overview</h2>
    <p>Dr. Graham continued her post-doc education by attending The American College of Integrative Medicine and
      Dentistry becoming board certified as a Naturopathic Physician, as well as in Integrative Biologic Dental
      Medicine.
      She has completed additional certifications in ozone therapy and Invisalign. She has advanced training from
      the Institute for Functional Medicine’s (IFM) Applied Functional Medicine in Clinical Practice, and is
      pursuing
      her certification with IFM. …<a href="#">[more]</a></p>
  </div>
  <div class="speakers-block">
    <h2>Key Topics</h2>
    <ul>
      <li>
        <a href="#">
          <img src="assets/images/podcast-play.png" alt="">
          News and updates from Liz<span>[2:07]</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/images/podcast-play.png" alt="">
          Introducing our guest, biologic dentist Dr. Kristen Graham<span>[3:12]</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/images/podcast-play.png" alt="">
          Becoming a biologic dentist<span>[6:45]</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/images/podcast-play.png" alt="">
          What to look for in a biologic dentist<span>[10:40]</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/images/podcast-play.png" alt="">
          A note on root canals<span>[18:31]</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/images/podcast-play.png" alt="">
          Cavities<span>[20:26]</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/images/podcast-play.png" alt="">
          Remineralizing teeth<span>[22:27]</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/images/podcast-play.png" alt="">
          Fillings<span>[24:38]</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/images/podcast-play.png" alt="">
          Oral hygiene–deep cleanings<span>[30:18]</span>
        </a>
      </li>
    </ul>
  </div>
</div>
