<div class="container">
  <div class="row">
    <div class="col-12" *ngIf="content">
      <div class="podcast-intro p-t-115">
        <dsod-podcast-header [content]="pageContent$ | async"></dsod-podcast-header>
        <div class="podcast-player" *ngIf="content">
          <div class="row">
            <div class="col-lg-3 col-md-4">
              <dsod-content-author [podcast]="content"></dsod-content-author>
            </div>
            <div class="col-lg-7 col-md-6">
              <dsod-audio-player [content]="pageContent$ | async"></dsod-audio-player>
            </div>
            <div class="col-lg-2 col-md-2">
              <dsod-content-actions [content]="content"></dsod-content-actions>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <dsod-podcast-content [content]="content"></dsod-podcast-content>
      <dsod-references [references]="(pageContent$ | async)?.references"></dsod-references>
      <div *ngIf="isLoggedIn">
        <dsod-article-reviews [content]="pageContent$ | async"></dsod-article-reviews>
      </div>
    </div>
  </div>
</div>
