  @import 'variables';

  .speaker-thumbnail {
    img {
      width: 100%;
      max-width: 254px;
      height: 245px;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  .speaker-name {
    background: rgba(51, 51, 51, 0.8);
    padding: 25px 15px 7px;
    text-align: center;
    color: $black;
    max-width: 255px;
    position: relative;


    span.episode-nbr {
      position: absolute;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      top: 0;
      left: 15px;
      right: 15px;
      background: #0198c6;
      color: #fff;
      padding: 10px 0;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }

    span {
      font-size: 15px;
      line-height: 19px;
      font-weight: 700;
      color: $color-white;
    }
  }


  @media only screen and (max-width:1440px) {
    .pod-thumbnail {
      max-width: 25%;
    }

    .pod-visual {
      max-width: 75%;
    }

    .speaker-name {
      span.episode-nbr {
        font-size: 18px;
      }
    }
  }
