  @import 'variables';

  .speaker-thumbnail {
    img {
      width: 100%;
      max-width: 254px;
    }
  }

  .speaker-name {
    background: $alabaster_white;
    padding: 15px;
    text-align: center;
    color: $black;
    max-width: 255px;

    span {
      font-size: 15px;
      line-height: 19px;
      font-weight: 700;
    }
  }
