  @import 'variables';

  .speaker-thumbnail {
    img {
      width: 100%;
      max-width: 254px;
      height: 245px;
      object-fit: cover;
    }

    .author-icon {
      background: #8b8b8b;

      img {
        height: auto;
        object-fit: none
      }

    }
  }

  .speaker-name {
    background: $alabaster_white;
    padding: 15px;
    text-align: center;
    color: $black;
    max-width: 255px;

    span {
      font-size: 15px;
      line-height: 19px;
      font-weight: 700;
    }
  }
