<div class="add-review">
  <div class="add-top-head">
    <span>
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </span>
    <h3>ADD A REVIEW</h3>
  </div>
  <div class="add-header">
    <h3>Rate the article</h3>
    <h4>Planet-Rich Fibrin: the 411</h4>
    <h5>October 2018</h5>
    <dsod-rating [clickAble]="true"></dsod-rating>
  </div>
  <div class="review-as">
    <span class="user-ico">
      <i class="fa fa-user" aria-hidden="true"></i>
    </span>
    <h4>Writing review as <b>Curtis.Porter III</b></h4>
  </div>
  <div class="review-form">
    <form #f="ngForm" (ngSubmit)="submitReview()">
      <textarea name="name" class="form-control" rows="8" placeholder="Write a brief review"></textarea>
      <button type="submit" name="button">Submit Review</button>
    </form>
  </div>
</div>
