<div class="add-review">
  <div class="add-top-head">
    <span (click)="closeModal()">
      <i class="fa fa-chevron-left" aria-hidden="false"></i>
    </span>
    <h3>ADD A REVIEW</h3>
  </div>
  <div class="add-header">
    <h3>Rate the article</h3>
    <h4>{{(title)}}</h4>
    <h5>{{commentDate | date :'mediumDate'}}</h5>
    <dsod-rating [clickAble]="true" (updateRating)="articleRating($event)"></dsod-rating>
  </div>
  <div class="review-as">
    <span class="user-ico">
      <i class="fa fa-user" aria-hidden="true"></i>
    </span>
    <h4>Writing review as <b>{{loggedInUser.email}}</b></h4>
  </div>
  <div class="review-form">
    <form #f="ngForm" (ngSubmit)="submitReview()">
      <textarea name="comment" [(ngModel)]="commentText" class="form-control" rows="8" placeholder="Write a brief review"></textarea>
      <button type="submit" name="button">Submit Review</button>
    </form>
  </div>
</div>
