<section class="feautred-topics">
  <div class="container">
    <h2 class="section-title">
      Featured Topics
    </h2>
    <div class="row" *ngIf="featuredTopics">
      <div class="col-lg-6">
        <div class="content-lg" *ngFor="let topic of featuredTopics | slice : 0:1">
          <dsod-topic [topic]="topic" [showImage]="true" [showHeader]="true" styleFor="content-lg" [showRating]=true
            [imgLarge]=true></dsod-topic>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6" *ngFor="let topic of featuredTopics | slice:1:3">
            <dsod-topic [topic]="topic" [showImage]="true" [showHeader]="true" styleFor="content-sm" [showRating]=true></dsod-topic>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6" *ngFor="let topic of featuredTopics | slice:3:5">
            <dsod-topic [topic]="topic" [showImage]="false" [showHeader]="true" styleFor="content-sm" [showRating]=true></dsod-topic>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
