<section class="feautred-topics">
  <div class="container">
    <h2 class="section-title">
      Featured Topics
    </h2>
    <div class="row" *ngIf="featuredTopics">
      <div class="col-lg-6" *ngFor="let topic of featuredTopics | slice : 0:1">
        <dsod-topic [topic]="topic" [showImage]="true" [showHeader]="true" styleFor="content-lg"></dsod-topic>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6" *ngFor="let topic of featuredTopics | slice:1:5">
            <dsod-topic [topic]="topic" [showImage]="true" [showHeader]="true" styleFor="content-sm"></dsod-topic>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
