@import 'variables.scss';
// Featured Topics Section

.feautred-topics {
  font-family: $Arial;

  .content-lg {
    height: 100%;

    /deep/ .topic-block {
      height: 100%;
    }
  }

  .no-thumbnail {
    .topic-title-large.topic-title-small {
      border: none !important;
    }
  }
}
