<div class="banner">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides" #slider>
      <dsod-carousal-lg-item [content]="con" *ngFor="let con of carousalItems">
      </dsod-carousal-lg-item>
    </ul>
  </div>
  <div class="glide__arrows controls" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><img src="assets/images/arrow-left.png" alt=""></button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><img src="assets/images/arrow-right.png" alt=""></button>
  </div>
</div>
