<div class="page-content">
  <div class="container" *ngIf="visualEssay">
    <div class="row">
      <div class="col-9">
        <div class="essay-container">
          <div class="row">
            <div class="col-12" *ngIf="visualEssay.visualEssayImages">
              <div class="carousel-image-container">
                <img [src]="getUrl(selectedCarouselImage)" />
              </div>
              <dsod-essay-images-carousel [visualEssayImages]="visualEssay.visualEssayImages" (changeImage)="onChangeImage($event)"></dsod-essay-images-carousel>
            </div>
            <div class="col-lg-12">
              <div class="article-content">
                <p>{{visualEssay.description}}</p>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row section-container">
                <div class="col-md-8">
                  <dsod-essay-author [essay]="visualEssay"></dsod-essay-author>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <section class="trending-videos" *ngIf="(trendingTopics$ | async)">
          <h2 class="section-title">Trending Topics</h2>
          <div *ngFor="let topic of trendingTopics$ | async">
            <dsod-topic [topic]="topic" [contentLength]=117 [showImage]="true" [showHeader]="true" styleFor="content-sm"
              [showRating]=true></dsod-topic>
          </div>
          <dsod-sponsored-ad></dsod-sponsored-ad>
        </section>
      </div>
    </div>
  </div>
</div>
