<div class="latest-block latest-layout-row">
  <div class="row">
    <div class="col-md-5">
      <div class="latest-block-thumbnail">
        <img src="https://devcmsapi1.dsodentist.com/content/contentservice/v1/file/downloadFileByObjectId?objectId={{latestTopic.featuredMediaId}}"
          class="img-fluid" alt="Feautred Thumbnail Large">
        <a href="" class="read-about">
          <img src="assets/images/article-icon.png" alt="">
        </a>
      </div>
    </div>
    <div class="col-md-7">
      <dsod-topic [topic]="latestTopic" [contentLenght]=200 [showImage]="false" [showHeader]="true">
      </dsod-topic>
    </div>
  </div>
</div>
