<div class="profile-view-container">
  <div class="profile-header">
    <span>Profile</span>
    <div class="action-container" (click)="editProfile()">
      <span class="action-name">Edit</span>
      <i class="fa fa-pencil"></i>
    </div>
  </div>
  <div class="profile-body">
    <div class="section-container">
      <div class="userInfo-container">
        <img class="avatar" [src]="userProfile?.photo_url ? (avatarBaseUrl + userProfile.photo_url) : './assets/images/no-avatar.png'">
        <div class="userInfo-wrapper">
          <span class="userName">{{userProfile?.full_name}}</span>
          <span class="role">Speciality</span>
          <span class="job">{{userProfile?.specialty?.name}}</span>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <p class="title">Experience</p>
        <div class="body-wrapper">
          <div *ngIf="userProfile?.experiences.length; else noExperience">
            <div *ngFor="let experience of userProfile.experiences">
              <dsod-profile-experience
                [experience]="experience">
              </dsod-profile-experience>
            </div>
          </div>
          <ng-template #noExperience>
            <dsod-profile-experience></dsod-profile-experience>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <p class="title">Residency</p>
        <div class="body-wrapper">
          <div *ngIf="userProfile?.profileResidency.length; else noResidency">
            <div *ngFor="let residency of userProfile.profileResidency">
              <dsod-profile-residency
                [residency]="residency">
              </dsod-profile-residency>
            </div>
          </div>
          <ng-template #noResidency>
            <dsod-profile-residency></dsod-profile-residency>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <p class="title">Education</p>
        <div class="body-wrapper">
          <div *ngIf="userProfile?.educations.length; else noEducation">
            <div *ngFor="let education of userProfile.educations">
              <dsod-profile-education
                [education]="education">
              </dsod-profile-education>
            </div>
          </div>
          <ng-template #noEducation>
            <dsod-profile-education></dsod-profile-education>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <p class="title">Contact</p>
        <div class="body-wrapper">
          <dsod-profile-address
            [address]="address">
          </dsod-profile-address>
          <div class="body-item-wrapper">
            <div class="icon-body-item">
              <img src="./assets/images/icons/icon_mobile.png">
            </div>
            <div class="item-content">
              <span class="title">Mobile Number</span>
              <span class="content" *ngIf="userProfile?.phone; else noPhoneNumber">{{userProfile?.phone}}</span>
              <ng-template #noPhoneNumber>
                <span class="content">No PhoneNumber added yet.</span>
              </ng-template>
            </div>
          </div>
          <div class="body-item-wrapper">
            <div class="icon-body-item">
              <img src="./assets/images/icons/icon_email.png">
            </div>
            <div class="item-content">
              <span class="title">Preferred Email Address</span>
              <span class="content" *ngIf="userProfile?.email; else noEmail">{{userProfile?.email}}</span>
              <ng-template #noEmail>
                <span class="content">No Preferred Email Address added yet.</span>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <p class="title">Settings</p>
        <div class="body-wrapper">
          <dsod-profile-settings></dsod-profile-settings>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <p class="title">Admin Console</p>
        <div class="body-wrapper">
          <div class="body-item-wrapper">
            <div class="icon-body-item gray-background">
              <i class="icon-admin-console fa fa-cogs"></i>
            </div>
            <div class="item-content">
              <span class="content">Access Administrator Controls</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
