<div class="profile-view-container">
  <div class="profile-header">
    <span>Profile</span>
  </div>
  <div class="profile-body">
    <div class="section-container">
      <div class="userInfo-container">
        <img class="avatar" src="/assets/images/no-avatar.png">
        <div class="userInfo-wrapper">
          <span class="userName">Rebecca Clarson</span>
          <span class="role">Speciality</span>
          <span class="job">General Practitioner</span>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <p class="title">Contact</p>
        <div class="body-wrapper">
          <div class="body-item-wrapper">
            <div class="icon-body-item">
              <img src="/assets/images/icons/icon_location.png">
            </div>
            <div class="item-content">
              <span class="title">Practice Address</span>
              <span class="content">1000 Wyckoff Ave.</span>
              <span class="content">Mahwah, NJ07430</span>
            </div>
          </div>
          <div class="body-item-wrapper">
            <div class="icon-body-item">
              <img src="/assets/images/icons/icon_mobile.png">
            </div>
            <div class="item-content">
              <span class="title">Mobile Number</span>
              <span class="content">(123) 456-789</span>
            </div>
          </div>
          <div class="body-item-wrapper">
            <div class="icon-body-item">
              <img src="/assets/images/icons/icon_email.png">
            </div>
            <div class="item-content">
              <span class="title">Preferred Email Address</span>
              <span class="content">amazingdentist@gmail.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <p class="title">Experience</p>
        <div class="body-wrapper">
          <div class="body-item-wrapper">
            <div class="icon-body-item gray-background">
              <img src="/assets/images/icons/icon_experience_active.png">
            </div>
            <div class="item-content">
              <span class="title">Associate Dentist</span>
              <span class="content">Dental Care Alliance</span>
              <span class="content">Mar 2016 - Present</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <p class="title">Residency</p>
        <div class="body-wrapper">
          <div class="body-item-wrapper">
            <div class="icon-body-item gray-background">
              <img src="/assets/images/icons/icon_location_active.png">
            </div>
            <div class="item-content">
              <span class="content">No residency added yet.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <p class="title">Education</p>
        <div class="body-wrapper">
          <div class="body-item-wrapper">
            <div class="icon-body-item gray-background">
              <img src="/assets/images/icons/icon_education_active.png">
            </div>
            <div class="item-content">
              <span class="content">No education added yet.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
