<div class="experience-container">
  <div class="body-item-wrapper">
    <div class="icon-body-item gray-background">
      <img src="./assets/images/icons/icon_experience_active.png">
    </div>
    <div class="item-content-wrapper">
      <div class="item-content" *ngIf="!selectedExperience.practice_Type?.name && !selectedExperience.practice_Role?.name">
        <span class="title no-content">
          No experience added yet.
        </span>
      </div>
      <div class="item-content" *ngIf="selectedExperience.practice_Type?.name && selectedExperience.practice_Role?.name">
        <span class="title">{{selectedExperience.practice_Type?.name}}</span>
        <span class="content">{{selectedExperience.practice_Role?.name}}</span>
        <span class="content" *ngIf="selectedExperience.end_time">
          {{selectedExperience?.start_time | date:"MMM yyyy"}} - {{selectedExperience?.end_time | date:"MMM yyyy"}}
        </span>
        <span class="content" *ngIf="!selectedExperience.end_time">
          {{selectedExperience?.start_time | date:"MMM yyyy"}} - Present
        </span>
      </div>
    </div>
    <div *ngIf="editable">
      <div class="icon-add-new" *ngIf="!expandedExpSection" (click)="expandExperienceSection(true)">
        <img src="./assets/images/icons/icon_add_new.png">
      </div>
      <div class="icon-add-new" *ngIf="expandedExpSection" (click)="expandExperienceSection(false)">
        <img src="./assets/images/icons/icon_close_new.png">
      </div>
    </div>
  </div>
  <div class="add-new-item-container">
    <div class="add-new-education-container" [ngClass]="{'show': expandedExpSection}">
      <div class="new-item-container">
        <p class="title">Practice Type</p>
        <div class="item-body">
          <ng-select
            class="custom-select"
            [items]="practiceTypes"
            appendTo="body"
            bindLabel="name"
            bindValue="id"
            [(ngModel)]="selectedExperience.practice_Type.id"
            class="select-item"
            placeholder="Select Practice type">
          </ng-select>
        </div>
      </div>
      <div class="new-item-container">
        <p class="title">Role at Practice</p>
        <div class="item-body">
          <ng-select
            class="custom-select"
            [items]="practiceRoles"
            appendTo="body"
            bindLabel="name"
            bindValue="id"
            [(ngModel)]="selectedExperience.practice_Role.id"
            class="select-item"
            placeholder="Select Speciality">
          </ng-select>
        </div>
      </div>
      <div class="new-item-container">
        <p class="title">Name of Dental Support Organization (DSO)</p>
        <div class="item-body">
          <ng-select
            class="custom-select"
            [items]="practiceDSOs"
            appendTo="body"
            bindLabel="name"
            bindValue="id"
            [(ngModel)]="selectedExperience.practice_DSO.id"
            class="select-item"
            placeholder="Select Speciality">
          </ng-select>
        </div>
      </div>
      <div class="new-item-container flex-container">
        <p class="title">I currently work in this role</p>
        <div class="item-body">
          <ui-switch size="small" [(ngModel)]="isWorking"></ui-switch>
        </div>
      </div>
      <div class="new-item-container flex-container">
        <div class="date-picker-container">
          <span class="title">From</span>
          <div class="input-group date-control">
            <input
              class="input-date-time"
              [container]="'body'"
              placeholder="yyyy-mm-dd"
              [(ngModel)]="expStartTime"
              name="dp"
              ngbDatepicker
              #from="ngbDatepicker">
            <div class="icon-calendar-wrap">
              <img class="icon-calendar" src="./assets/images/icons/icon-calendar.png" (click)="from.toggle()">
            </div>
          </div>
        </div>
        <div class="date-picker-container">
          <span class="title">To</span>
          <div class="input-group date-control" *ngIf="!isWorking">
            <input
              class="input-date-time"
              [container]="'body'"
              placeholder="yyyy-mm-dd"
              [(ngModel)]="expEndTime"
              name="dp"
              ngbDatepicker
              #to="ngbDatepicker">
            <div class="icon-calendar-wrap">
              <img class="icon-calendar" src="./assets/images/icons/icon-calendar.png" (click)="to.toggle()">
            </div>
          </div>
          <div class="input-group date-control" *ngIf="isWorking">
            <span>Present</span>
          </div>
        </div>
      </div>
      <div class="new-item-container">
        <button class="btn btn-primary btn-delete" (click)="deleteExperience()">Delete Experience</button>
      </div>
    </div>
  </div>
</div>
