@import 'variables';

.content-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  ul {
    padding-right: 45px;
  }
}

@media only screen and (max-width:1199px) {
  .content-actions {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px;

    ul {
      padding: 20px 0 0;
    }
  }
}
