<div class="content-actions">
  <ul>
    <li>
      <a href="#">
        <span>
          <img src="/assets/images/bookmark-ribbon.png" alt="">
        </span>
        Bookmark
      </a>
    </li>
    <li>
      <a href="#">
        <span>
          <img src="/assets/images/download-icon.png" alt="">
        </span>
        Download
      </a>
    </li>
    <li>
      <a href="#">
        <span>
          <img src="/assets/images/share-icon.png" alt="">
        </span>
        share
      </a>
    </li>
  </ul>
</div>
