<div class="practice-sponsors">
  <div class="container-fluid">
    <div class="row mb-5 flex-sm-column-reverse flex-xl-row" *ngFor="let topic of (sponsoredTopics$ | async)">
      <div class="col-xl-6">
        <div class="sponsor-desc">
          <div class="sponsor-header mb-3">
            <img class="img-fluid" src="assets/images/icons/{{topic.sponsorName}}-bar.jpg" alt="">
          </div>
          <h2>{{topic.title}}</h2>
          <span>{{topic.author.fullName}}</span>
          <div class="d-flex justify-content-between align-items-center date-wrap">
            <span>{{topic.publishDate | date:'mediumDate'}}</span>
            <a href="#" class="implant-btn">{{topic.categoryName}}</a>
          </div>
          <div class="excerpt" [innerHtml]="topic.excerpt"></div>
          <hr class="mt-4 mb-5">
          <a href="javascript:void(0)" (click)="navigateTo(topic)" class="read-more-btn">Read More <span><i class="fa fa-arrow-right"
                aria-hidden="true"></i></span></a>
        </div>
      </div>
      <div class="col-xl-6 thumbnail">
        <dsod-feartured-media [featuredMedia]="topic.featuredMedia"></dsod-feartured-media>
        <!-- <img *ngIf="topic.featuredMedia && topic.featuredMedia.type !== '6'"
          class="img-fluid"
          src="{{topic.featuredMedia.code.originalUrl}}"
          alt="" />
        <div *ngIf="topic.featuredMedia && topic.featuredMedia?.type === '6'"
          class="img-fluid"
          [innerHTML]="getIFrameCode(topic.featuredMedia.code.iFrameCode)">
        </div> -->
      </div>
    </div>
  </div>
</div>
