<div class="container">
  <div class="row">
    <div class="col-xl-9">
      <div class="article-content p-t-115">
        <dsod-article-media [content]="pageContent$ | async"></dsod-article-media>
        <dsod-article-content [content]="pageContent$ | async"></dsod-article-content>
      </div>
      <div class="related-content">
        <h2 class="section-title">Related Content</h2>
        <div class="row">
          <div class="col-lg-4" *ngFor="let topic of trendingTopics$ | async">
            <dsod-topic [topic]="topic" [contentLenght]=0 [showImage]="true" [showHeader]="true" styleFor="content-small"></dsod-topic>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 p-t-115">
      <section class="trending-videos">
        <h2 class="section-title">Trending Topics</h2>
        <div *ngFor="let topic of trendingTopics$ | async">
          <dsod-topic [topic]="topic" [contentLenght]=170 [showImage]="true" [showHeader]="true" styleFor="content-small"></dsod-topic>
        </div>
        <dsod-sponsored-ad></dsod-sponsored-ad>
      </section>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-9" *ngIf="isLoggedIn">
    <dsod-article-reviews [content]="pageContent$ | async"></dsod-article-reviews>
  </div>
</div>
