<div class="page-content">
  <div class="container" *ngIf="(pageContent$ | async)">
    <div class="row">
      <div class="col-9">
        <div class="article-content">
          <dsod-article-media [content]="pageContent$ | async" [rating]="!avgRating?(pageContent$ | async)?.avgCommentRating:avgRating"></dsod-article-media>
          <dsod-article-content [content]="(pageContent$ | async)?.content"></dsod-article-content>
          <dsod-references [references]="(pageContent$ | async)?.references"></dsod-references>
          <div class="row essay-container" *ngIf="(pageContent$ | async)?.visualEssays.length">
            <div class="col-12">
              <h3 class="essay-title">Visual Essay</h3>
            </div>
            <div class="col-lg-12" *ngFor="let essay of (pageContent$ | async)?.visualEssays">
              <a class="essay-item" [routerLink]="['/visual-essay', essay.id]" target="_blank">{{essay.title}}</a>
            </div>
          </div>
        </div>
        <div class="related-content" *ngIf="(pageContent$ | async)?.relativeTopicList.length">
          <h2 class="section-title">Related Content</h2>
          <div class="row">
            <div class="col-4" *ngFor="let topic of (pageContent$ | async)?.relativeTopicList">
              <dsod-related-content [content]="topic" [contentTypeName]="(pageContent$ | async)?.contentTypeName"></dsod-related-content>
            </div>
          </div>
        </div>
        <div *ngIf="isLoggedIn">
          <dsod-article-reviews [content]="pageContent$ | async" (updateRating)="updateRating($event)"></dsod-article-reviews>
        </div>
      </div>
      <div class="col-3">
        <section class="trending-videos" *ngIf="(trendingTopics$ | async).length">
          <h2 class="section-title">Trending Topics</h2>
          <div *ngFor="let topic of trendingTopics$ | async">
            <dsod-topic [topic]="topic" [contentLength]=117 [showImage]="true" [showHeader]="true" styleFor="content-sm"
              [showRating]=true></dsod-topic>
          </div>
          <dsod-sponsored-ad></dsod-sponsored-ad>
        </section>
      </div>
    </div>
  </div>
</div>
