<div class="modal-header d-flex">
  <h4 class="modal-title">Create An Event</h4>
  <div class="btn-actions alig-self-end d-flex">
<button *ngIf="!isEditingEnable" class="btn btn-primary btn-blue event-action-btn mr-2" (click)="onEditEvent($event)">Save</button>
<button *ngIf="!isEditingEnable" class="btn btn-primary btn-blue event-action-btn mr-2" (click)="onEditEvent($event)">Preview</button>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="modal-body">
  <div class="event-details-title d-flex justify-content-between align-items-center">
    <h4><span>1</span>Event Details</h4>
    <a href="#">Tips</a>
  </div>
  <div class="create-event-form">
    <form action="">
      <div class="row">
        <div class="col-md-9">
          <div class="form-group">
            <label for="" class="form-control-label text-uppercase">Event Title <span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" id="" placeholder="Give it a short distinct name">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="" class="form-control-label">Theme</label>
            <select name="" id="" class="form-control">
              <option value="">Theme1</option>
              <option value="">Theme1</option>
              <option value="">Theme1</option>
              <option value="">Theme1</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="form-group">
            <label for="" class="form-control-label">Presenter</label>
            <input type="text" class="form-control" id="" placeholder="Specify where it's held">
            <div class="action-wrap pt-1 pb-1">
              <a href="">
                <i class="fa fa-search" aria-hidden="true"></i>Use past location
              </a>
              <a href="">
                <i class="fa fa-desktop" aria-hidden="true"></i>Online event
              </a>
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>Enter address
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="" class="form-control-label">Description</label>
            <textarea name="" id="" class="form-control" rows="4"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="" class="form-control-label text-uppercase">Starts</label>
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="date">
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="year">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="" class="form-control-label text-uppercase">Ends</label>
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="date">
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="year">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="" class="form-control-label text-uppercase">Start Time</label>
            <input type="time" class="form-control">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="" class="form-control-label text-uppercase">End Time</label>
            <input type="time" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="action-wrap pt-1 pb-1">
            <a href="">
              <i class="fa fa-search" aria-hidden="true"></i>Schedule Multiple Events
            </a>
            <a href="">
              <i class="fa fa-desktop" aria-hidden="true"></i>Time & Date settings (PDT)
            </a>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>
