<div class="about-container">
  <div class="container">
    <h1 class="title">About US</h1>
    <div class="content">
      <p>
        DSODentist.com is the first digital services platform dedicated to the dental support organization (DSO) sector.
        Through DSODentist.com and the DSODentist mobile app, the growing segment of dental professionals interested in group practice can unite as a community and access objective information, training, and peer-to-peer interaction intended to enhance their professional development.
      </p>
      <p>
        Breaking new ground in the field, the DSODentist.com platform serves as a destination for industry news, practical insights, and objective resources.
        Here, professionals can understand the value proposition, classification, and characteristics of a large group dental practice, share dedicated tools and member services that encourage learning and inspire leadership, and leverage social connectivity to share and engage with like-minded professionals, peers, and/or mentors.
        In fact, the DSODentist.com platform provides a fully mobilized experience and establishes an integrated gateway to assist new practitioners from the inception of their careers throughout their professional lifecycles.
      </p>
      <p>
        Founded in 2010, The Next Media Group, LLC., has emerged as a leader in digital education by connecting healthcare professionals through intelligent digital, social, and mobile platforms.
        The company’s solutions transform learning and ignite community development. In addition to DSODentist.com,
        The Next Media Group continues its pioneering work in eLearning through THE NEXTDDS web portal, a unique educational resource serving as an adjunct to the university training of more than 15,000 dental students.
      </p>
    </div>
  </div>
</div>
