<ul>
  <li><a href="javascript:void(0)"><span class="item-number">1</span> <span class="pod-avi"><img src="assets/images/speaker-avi-sm.png"
          alt="Speaker Thumbnail"></span>
      Treatment of Type III sockets<span class="pod-time">36:19<img src="assets/images/play-icon-sm.png" alt=""></span></a></li>
  <li><a href="javascript:void(0)"><span class="item-number">2</span> <span class="pod-avi"><img src="assets/images/speaker-avi-sm.png"
          alt="Speaker Thumbnail"></span>
      Anatomy of the dentition<span class="pod-time">17:42<img src="assets/images/play-icon-sm.png" alt=""></span></a></li>
  <li><a href="javascript:void(0)"><span class="item-number">3</span> <span class="pod-avi"><img src="assets/images/speaker-avi-sm.png"
          alt="Speaker Thumbnail"></span>
      Desensitizing dentifrices and fluorides<span class="pod-time">43:01<img src="assets/images/play-icon-sm.png" alt=""></span></a></li>
  <li><a href="javascript:void(0)"><span class="item-number">4</span> <span class="pod-avi"><img src="assets/images/speaker-avi-sm.png"
          alt="Speaker Thumbnail"></span>
      Women in dentistry<span class="pod-time">11:59<img src="assets/images/play-icon-sm.png" alt=""></span></a></li>
  <li><a href="javascript:void(0)"><span class="item-number">5</span> <span class="pod-avi"><img src="assets/images/speaker-avi-sm.png"
          alt="Speaker Thumbnail"></span>
      Prevention and treatment of biofilm<span class="pod-time">55:23<img src="assets/images/play-icon-sm.png" alt=""></span></a></li>
  <li><a href="javascript:void(0)"><span class="item-number">6</span> <span class="pod-avi"><img src="assets/images/speaker-avi-sm.png"
          alt="Speaker Thumbnail"></span>
      The two-implant overdenture for the...<span class="pod-time">39:00<img src="assets/images/play-icon-sm.png" alt=""></span></a></li>
  <li><a href="javascript:void(0)"><span class="item-number">7</span> <span class="pod-avi"><img src="assets/images/speaker-avi-sm.png"
          alt="Speaker Thumbnail"></span>
      Treatment options for implants<span class="pod-time">19:28<img src="assets/images/play-icon-sm.png" alt=""></span></a></li>
  <li><a href="javascript:void(0)"><span class="item-number">8</span> <span class="pod-avi"><img src="assets/images/speaker-avi-sm.png"
          alt="Speaker Thumbnail"></span>
      Implant demographics<span class="pod-time">09:16<img src="assets/images/play-icon-sm.png" alt=""></span></a></li>
  <li><a href="javascript:void(0)"><span class="item-number">9</span> <span class="pod-avi"><img src="assets/images/speaker-avi-sm.png"
          alt="Speaker Thumbnail"></span>
      The role of biofilm<span class="pod-time">40:57<img src="assets/images/play-icon-sm.png" alt=""></span></a></li>
</ul>
