<ul>
  <li *ngFor="let podcast of (podcasts$ | async); let i= index">
    <a href="javascript:void(0)" (click)="navigateTo(podcast, i)">
<span class="pod-avi"><img *ngIf="podcast.featuredMedia; else authorPlaceholder" src="{{podcast.featuredMedia.code.originalUrl}}"
          alt="Speaker Thumbnail">
        <ng-template #authorPlaceholder>
          <img src="assets/images/author-placeholder.png" alt="Speaker Thumbnail">
        </ng-template>
      </span>{{i+1}}. {{podcast.title}}<span class="pod-time">36:19<img src="assets/images/play-icon-sm.png" alt=""></span></a></li>
</ul>
