@import "variables";

.address-container {
  .body-item-wrapper {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    .item-content-wrapper {
      flex: 1 1 auto;
      .item-content {
        border-bottom: none !important;
        .title {
          margin-bottom: 5px;
          font-size: 16px;
          &.no-content {
            margin-bottom: 0;
            font-size: 15px;
            color: $gray;
          }
        }
      }
    }
  }
  .add-new-address-container {
    overflow: hidden;
    max-height: 0;
    margin-left: 60px;
    transition: ease 500ms;
    &.show {
      max-height: 500px;
    }
    .title {
      margin-bottom: 5px;
      font-size: 16px;
    }
    .input-group {
      border-bottom: 1px solid $gray;
      align-items: center;
      input {
        position: relative;
        flex: 1 1 auto;
        border: none;
        background-color: transparent;
        color: $alto;
        padding: 0;
        outline: none;
        min-height: 25px;
      }
      span {
        font-size: 18px;
      }
    }
    .btn-delete {
      font-size: 18px;
      height: 100%;
    }
  }
}
