<div class="address-container">
  <div class="body-item-wrapper">
    <div class="icon-body-item">
      <img src="./assets/images/icons/icon_location.png">
    </div>
    <div class="item-content-wrapper">
      <div class="item-content" *ngIf="!address">
        <span class="title">Practice Address</span>
        <span class="title no-content">
          No address added yet.
        </span>
      </div>
      <div *ngIf="address">
        <div class="item-content" *ngIf="address.address1; else noAdd">
          <span class="title">Practice Address</span>
          <span class="content">{{address.address1}} {{address.address2}}</span>
          <span class="content">{{address.city}} {{address.states}} {{address.zipCode}}</span>
        </div>
        <ng-template #noAdd>
          <div class="item-content">
            <span class="title">Practice Address</span>
            <span class="title no-content">
              No address added yet.
            </span>
          </div>
        </ng-template>
      </div>
    </div>
    <div *ngIf="editable">
      <div class="icon-add-new" *ngIf="!expandedAddSection" (click)="expandAddressSection(true)">
        <img src="./assets/images/icons/icon_add_new.png">
      </div>
      <div class="icon-add-new" *ngIf="expandedAddSection" (click)="expandAddressSection(false)">
        <img src="./assets/images/icons/icon_close_new.png">
      </div>
    </div>
  </div>
  <div class="add-new-item-container">
    <dsod-edit-address
      [address]="address"
      [expanded]="expandedAddSection"
      (updateAddress)="onChangeAdd($event)"
      (deleteAddress)="onDelAdd($event)">
    </dsod-edit-address>
  </div>
</div>
