@import "variables";

.address-container {
  .body-item-wrapper {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    .item-content-wrapper {
      flex: 1 1 auto;
      .item-content {
        border-bottom: none !important;
        .title {
          margin-bottom: 5px;
          font-size: 16px;
          &.no-content {
            margin-bottom: 0;
            font-size: 15px;
            color: $gray;
          }
        }
      }
    }
  }
}
