<div class="card-item-container" (mouseenter)="onMouseOver($event)" (mouseleave)="onMouseLeave($event)">
  <div class="video-wrapper">
    <video #video width="320" height="" controls muted>
      <source src={{sampleVideo.url}} type="video/webm">
    </video>
  </div>
  <div class="content-container">
    <div class="price-wrapper">
      <span class="price">$1.99</span>
    </div>
    <p class="title">
      Precision Cuts
    </p>
    <p class="post-time">36:07</p>
    <p class="post-content">
      blablablabla
    </p>
    <button class="btn btn-default btn-post-more">More</button>
  </div>
</div>
