@import 'variables';

.featured-podcasts-block-sm {
  max-width: 230px;
  margin: 15px auto;
  cursor: pointer;

  .podcasts-block-header {
    padding: 21px 15px 9px;
    background: $alabaster_white;

    h4 {
      color: $color-primary;
      font-size: 20px;
    }
  }

  .podcast-block-thumbnail {
    position: relative;
    border-top: 3px solid $mine_grey;

    >img {
      width: 100%;
      max-height: 186px;
      -o-object-fit: cover;
      object-fit: cover;
    }

    .podcasts-block-caption {
      background: $dark_grey;
      padding: 3px 15px;
      text-align: center;
      height: 52px;
      display: block;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      overflow: hidden;

      h4 {
        color: $color-white;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  .podcast-block-content {
    background: $alabaster_white;
    padding: 11px 15px;

    h3 {
      font-size: 15px;
      color: $black;
      text-align: center;
    }
  }
}

@media only screen and(max-width:1440px) {
  .featured-podcasts-block-sm {
    .podcasts-block-header {
      h4 {
        font-size: 18px;
      }
    }
  }
}
