<div class="event-detail-page-wrap">
  <div class="events-banner-wrap">
    <div class="events-banner">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides" #slider>
          <li class="glide__slide">
            <img src="assets/images/event-slide-1.jpg" alt="">
          </li>
          <li class="glide__slide">
            <img src="assets/images/event-slide-2.jpg" alt="">
          </li>
          <li class="glide__slide">
            <img src="assets/images/event-slide-3.jpg" alt="">
          </li>
          <li class="glide__slide">
            <img src="assets/images/event-slide-4.jpg" alt="">
          </li>
          <li class="glide__slide">
            <img src="assets/images/event-slide-5.jpg" alt="">
          </li>
          <li class="glide__slide">
            <img src="assets/images/event-slide-6.jpg" alt="">
          </li>

        </ul>
      </div>
      <div class="glide__arrows event-controls" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><img src="assets/images/arrow-left.png" alt=""></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><img src="assets/images/arrow-right.png"
            alt=""></button>
      </div>
    </div>
    <div class="event-description">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="left-content">
              <h1 class="pb-5 mb-5">The Importance of Oral Health for the Pediatric Patient.</h1>
              <a href="#"><span><i class="fa fa-play" aria-hidden="true"></i></span> Watch Now</a>
              <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis assumenda expedita eveniet vero</p> -->
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="e-details">
              <h3>Event Details</h3>
              <ul>
                <li>
                  <span>Speaker</span>
                  <span class="text-black">Dr Greg Psaltis</span>
                </li>
                <li>
                  <span>9pm EST</span>
                  <span class="text-black">Saturday February 23, 2019</span>
                </li>
                <li>
                  <span>Starting</span>
                  <span class="text-black">In-Person Event</span>
                </li>
                <li>
                  <span>Attending</span>
                  <span class="text-black">150</span>
                </li>
                <li>
                  <span>Price</span>
                  <span class="text-black">Free</span>
                </li>
                <li>
                  <a href="#" class="btn btn-block btn-primary">Register</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="event-desc-wrap mt-5">
    <div class="container">
      <h4 class="mb-4">Description</h4>
      <p>This webinar will discuss how primary dental care plays a vital role in children’s dental health as they grow
        and
        will cover ways to instill good oral hygiene habits in these children. Developing good oral hygiene habits at a
        young
        age is the first step in securing a safe future from many common dental issues such as plaque, gum disease, and
        cavities. If these habits are not enforced at a young age, the same poor hygiene habits could negatively impact
        their
        oral health as an adult and impact their daily lives as well. </p>
    </div>
  </div>
</div>
