<div class="sub-category-container">
  <p class="title">Orthodontics</p>
  <div class="filter-container">

  </div>
  <div class="category-item-container">
    <dsod-education-item-card></dsod-education-item-card>
    <dsod-education-item-card></dsod-education-item-card>
    <dsod-education-item-card></dsod-education-item-card>
    <dsod-education-item-card></dsod-education-item-card>
    <dsod-education-item-card></dsod-education-item-card>
    <dsod-education-item-card></dsod-education-item-card>
    <dsod-education-item-card></dsod-education-item-card>
    <dsod-education-item-card></dsod-education-item-card>
    <dsod-education-item-card></dsod-education-item-card>
    <dsod-education-item-card></dsod-education-item-card>
  </div>
</div>
