<div class="home-banner">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <li class="glide__slide">
        <img src="assets/images/home-slide.png" alt="first slide">
        <div class="slide-caption">
          <h1>Do what you do</h1>
          <h2>...with the best support possible</h2>
          <p>Get real-time access to clinical experts and a nationwide community of like-minded professionals — join
            the DSODentist community TODAY!</p>
          <div class="join-wrap">
            <a href="" class="join-btn">Join</a>
          </div>
        </div>
      </li>
      <li class="glide__slide">
        <img src="assets/images/home-slide.png" alt="second slide">
        <div class="slide-caption">
          <h1>Do what you do</h1>
          <h2>...with the best support possible</h2>
          <p>Get real-time access to clinical experts and a nationwide community of like-minded professionals — join
            the DSODentist community TODAY!</p>
          <div class="join-wrap">
            <a href="" class="join-btn">Join</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><img src="assets/images/arrow-left.png" alt=""></button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><img src="assets/images/arrow-right.png" alt=""></button>
  </div>
</div>
