<div class="banner-container">
  <dsod-carousel [loggedIn]="isLoggedIn$ | async"></dsod-carousel>
</div> 
<a [routerLink]="['/sponsors/GSK']">
  <dsod-home-ad-banner></dsod-home-ad-banner>
</a>
<dsod-featured-topics [featuredTopics]="featuredTopics$ | async"></dsod-featured-topics>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12">
      <dsod-latest [latestTopics]="latestTopics$ | async"></dsod-latest>
    </div>
    <div class="col-lg-4 col-md-12">
      <dsod-trending [trendingTopics]="trendingTopics$ | async"></dsod-trending>
    </div>
  </div>
</div>
<dsod-podcasts *ngIf="podcastType" [contentType]="podcastType[0]"></dsod-podcasts>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-12">
        <dsod-events></dsod-events>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-12">
        <dsod-our-sponsors [sponsoredTopics]="sponsoredTopics$ | async"></dsod-our-sponsors>
      </div>
    </div>
  </div>
</section>
