<ul>
  <li>1. Treatment of Type III sockets<span>36:19</span></li>
  <li>2. Anatomy of the dentition<span>17:42</span></li>
  <li>3. Desensitizing dentifrices and fluorides<span>43:01</span></li>
  <li>4. Women in dentistry<span>11:59</span></li>
  <li>5. Prevention and treatment of biofilm<span>55:23</span></li>
  <li>6. The two-implant overdenture for the...<span>39:00</span></li>
  <li>7. Treatment options for implants<span>19:28</span></li>
  <li>8. Implant demographics<span>09:16</span></li>
  <li>9. The role of biofilm<span>40:57</span></li>
</ul>