@import 'variables';

:host {
  form {
    input.form-control {
      border-radius: 0;
      border: none;
      height: 36px;
      width: 100%;
      padding: 0.35rem 0.75rem;
      transition: all ease .5s;


      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
