<section class="the-latest">
  <h2 class="section-title">The Latest</h2>
  <a class="latest-block" *ngIf="latestTopics.length" href="javascript:void(0)" (click)="navigateTo(latestTopics[0])">
    <div class="latest-block-header">
      <h4>{{latestTopics[0].categoryName}}</h4>
      <dsod-rating [rating]="latestTopics[0].avgCommentRating"></dsod-rating>
    </div>
    <div class="latest-block-thumbnail">
      <img src={{latestTopics[0].featuredMedia?.code.originalUrl}} class="img-fluid" alt="Feautred Thumbnail Large">
      <a href="" class="read-about">
        <img *ngIf="latestTopics[0].contentTypeName=='Articles'" src="assets/images/article-icon.png" alt="">
        <img *ngIf="latestTopics[0].contentTypeName=='Videos'" src="assets/images/youtube-icon.png" alt="">
      </a>
    </div>
    <div class="latest-block-caption">
      <h4>{{latestTopics[0].title}}</h4>
    </div>
  </a>
  <div *ngFor="let topic of latestTopics | slice:1:6">
    <dsod-latest-item [latestTopic]="topic"></dsod-latest-item>
  </div>
</section>
