 @import 'variables';

 :host {
   .modal-body {
     h2 {
       font-family: $neue_hgd_Thin;
       font-size: 50px;
       line-height: 60px;
     }

     span.by {
       font-size: 25px;
       line-height: 45px;
     }
   }


   .article-content {
     /deep/ div {
       max-width: none !important;
       width: 100% !important;

       div {
         padding-top: 0 !important;
       }
     }



     /deep/ p {
       font-size: 18px;

       a {
         color: #0066cc;
         line-height: 35px;
         font-size: 18px;
       }

       &:last-child {
         margin-bottom: 40px;
       }

     }

     /deep/ pre {
       font-size: 16px;
       white-space: normal;

       em {
         font-size: 20px;
       }
     }

     /deep/ h2 {
       font-size: 25px;
       color: $color-primary;

       b,
       strong {
         font-weight: 500;
       }
     }

     /deep/ figcaption {
       font-size: 22px;
     }

     /deep/ ol {
       padding: 0 0 0 60px;
       margin-top: 30px;

       li {
         position: relative;
         color: $text-main;
         font-size: 18px;
         line-height: 35px;
         padding: 0 50px 0 0;
         margin-bottom: 10px;
         list-style: disc;

         &::before {
           display: inline-block;
           font-size: 16px;
           left: 0;
           line-height: 26px;
           position: absolute;
           top: 0;
           color: $color-primary;
           font-size: 22px;
           line-height: 35px;
           font-weight: 700;
         }

         i {
           color: $color-primary;
         }
       }
     }

     /deep/ ul {
       padding: 0 0 0 60px;
       margin-top: 30px;

       li {
         position: relative;
         color: $text-main;
         font-size: 18px;
         line-height: 35px;
         padding: 0 50px 0 0;
         margin-bottom: 10px;
         list-style: disc;

         &::before {
           display: inline-block;
           font-size: 16px;
           left: 0;
           line-height: 26px;
           position: absolute;
           top: 0;
           color: $color-primary;
           font-size: 22px;
           line-height: 35px;
           font-weight: 700;
         }

         i {
           color: $color-primary;
         }
       }
     }
   }
 }


 @media only screen and (max-width:1440px) {
   :host {
     .modal-title{
       font-size: 20px;
     }
     .modal-body {
       h2 {
         font-size: 35px;
         line-height: 50px;
       }

       span.by {
         font-size: 22px;
       }
     }


     .article-content {

       /deep/ p {
         font-size: 16px;

         a {
           font-size: 16px;
         }
       }

       /deep/ pre {
         font-size: 16px;

         em {
           font-size: 16px;
         }
       }

       /deep/ h2 {
         font-size: 22px;
       }

       /deep/ ul {
         li {
           font-size: 16px;
         }
       }

       /deep/ ol {
         li {
           font-size: 16px;
         }
       }
     }
   }
 }
