<div class="container" *ngIf="content">
  <div class="article-header mt-5">
    <div class="row">
      <div class="col-lg-12">
        <h2>{{content.title}}:</h2>
        <span class="by" *ngIf="content.author">by {{content.author.fullName}}</span>
      </div>
    </div>
  </div>
  <div *ngIf="content.featuredMedia" class="article-thumbnail" style="margin-top:20px;">
    <img [src]=getUrl(content.featuredMedia.code.thumbnail) class="img-fluid" alt="">
    <p><b>Figure.</b>{{content.title}}</p>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="article-content" [innerHTML]="content.content"></div>
    </div>
  </div>
  <div class="row" *ngFor="let essay of content.visualEssays">
    <div class="col-lg-12" *ngIf="essay.visualEssayImages">
      <dsod-essay-images-carousel [visualEssayImages]="essay.visualEssayImages"></dsod-essay-images-carousel>
    </div>
    <div class="col-lg-12">
      <div class="article-content">
        <p>{{essay.description}}</p>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-8">
          <dsod-essay-author [essay]="essay"></dsod-essay-author>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <dsod-gallery [photosUrls]="content.photoUrls"></dsod-gallery>
    </div>
  </div>
  <div class="related-content" *ngIf="content.relativeTopicList.length">
    <h2 class="section-title">Related Content</h2>
    <div class="row">
      <div class="col-lg-4" *ngFor="let topic of content.relativeTopicList">
        <dsod-related-content [content]="topic" [contentTypeName]="content.contentTypeName"></dsod-related-content>
      </div>
    </div>
  </div>
</div>
