<div class="container">
  <div class="pod-title-container row">
    <div class="pod-title">
      <img alt="" src="assets/images/podcast-icon.png">
      <h3 class="title">Podcasts</h3>
    </div>
    <span class="pod-category-name">{{content.categoryName}}</span>
  </div>
  <div class="author-container">
    <div class="author-info">
      <div class="speaker-thumbnail">
        <img *ngIf="content.authorPhotoUrl; else authorPlaceholder" src={{content.authorPhotoUrl}} class="img-fluid">
        <ng-template #authorPlaceholder>
          <img src="assets/images/author-placeholder.png" class="img-fluid">
        </ng-template>
      </div>
      <div class="speaker-name" *ngIf="content.author">
        <span>{{content.author.fullName}}</span>
      </div>
    </div>
    <div class="content-title">
      <h3>{{content.title}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="md-5 mt-5">
        <div *ngIf="content.featuredMedia" class="featured-media-container">
          <img *ngIf="content.featuredMedia?.type === '1' || content.featuredMedia?.type === '4'" [src]="getUrl(content.featuredMedia.code.thumbnail)" />
          <audio *ngIf="content.featuredMedia?.type === '2'" controls>
            <source [src]="getUrl(content.featuredMedia.code.thumbnail)" type="audio/mp3">
          </audio>
          <video *ngIf="content.featuredMedia?.type === '3'" width="100%" controls>
            <source [src]="getUrl(content.featuredMedia.code.thumbnail)" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <dsod-audio-player [content]="content"></dsod-audio-player>
      <div class="speakers-content mt-5" [innerHTML]="contentString"></div>
    </div>
  </div>
  <dsod-references [references]="content.references"></dsod-references>
</div>
