<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="mt-5">
        <h2>{{ content.title }}</h2>
        <span class="by" *ngIf="content && content.author">by {{ content.author.fullName }}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="md-5 mt-5">
        <video >
        <source src="https://devcmsapi1.dsodentist.com/content/contentservice/v1/file/downloadFileByObjectId?objectId={{content.featuredMedia.code.thumbnail}}"></video>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="video-content-inner" [innerHTML]="content.content"></div>
    </div>
  </div>
</div>
