<div>
  <div class="image-header-container">
    <div class="banner-overlay"></div>
    <div class="banner-caption">
      <h1 class="text-white">Do what you do...</h1>
      <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptate a</p> -->
    </div>
  </div>
</div>
<div class="content-wrapper">
  <div class="row">
    <div class="col-sm-6 item-tile" *ngFor="let image of careerImages">
      <div class="content-item-wrapper">
        <img src={{image.url}}>
        <div class="item-overlay">
          <span class="title">{{image.title}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>