<div>
  <div class="image-header-container">
    <div class="banner-overlay"></div>
    <div class="banner-caption">
      <h1 class="text-white">Do what you do...</h1>
      <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptate a</p> -->
    </div>
  </div>
</div>
<div class="content-item-wrapper">
  <div class="content-item" *ngFor="let image of careerImages">
    <img class="img-category" src={{image.url}}>
    <div class="category-content">
      <span class="category-title">{{image.title}}</span>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
