.image-header-container {
  background-image: url('../../../../../assets/images/career_header_sm.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  width: 60%;
  margin: auto;
}

.content-item-wrapper {
  padding: 100px 200px 100px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;

  .content-item {
    position: relative;
    cursor: pointer;

    &:after {
      content: '\A';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6);
      opacity: 0;
      -webkit-transition: all 1s;
      transition: all 1s;
      border-radius: 8px;
    }

    &:hover:after {
      opacity: 1;
    }

    .img-category {
      width: 100%;
      border-radius: 8px;
      margin: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    .category-content {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 20px;
      text-align: center;
      color: #fff;
      z-index: 1;

      .category-title {}

      .category-count {
        font-size: 18px;
        color: #bcbcbc;
        margin: 0;
      }
    }
  }
}

@media only screen and (max-width:1440px) {
  .image-header-container {
    height: 295px;

    .banner-caption {
      h1 {
        font-size: 35px;
      }
    }
  }

  .content-item-wrapper {
    padding: 60px 200px 60px;
  }
}