.image-header-container {
  background-image: url('../../../../../assets/images/education_header.png');
  height: 50vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  width: 60%;
  margin: auto;
}
