@import 'variables';

:host {
  .video-thumbnail {
    margin-bottom: 55px;
    position: relative;

    video {
      width: 100%;

      &:-webkit-full-screen {
        opacity: 0;
      }
    }
  }
}
