@import 'variables';

.podcast-player {
  .visualizer {
    margin-bottom: 15px;

    .play-icon-lg {
      height: 100%;

      a {
        font-size: 80px;
        text-align: center;
        display: block;
        color: $text-main;
        border: 1px solid $text-main;
        min-height: 161px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
    }

    div#playerContainer {

      // border-bottom: 1px solid #ccc;
      /deep/ wave {
        border: none !important;
      }
    }

  }

  .pod-timings {
    span.playin-time {
      font-size: 24px;
      font-weight: 700;
      color: $text-main;
      display: block;
      margin-bottom: 15px;
    }

    span.total-time {
      color: $color-primary;
      font-size: 18px;
      display: block;
    }
  }
}

.media-controls {
  // background: $alabaster_white;
  padding: 23px 0 0;

  .controls-wrap,
  .volume-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    // -webkit-box-pack: justify;
    // -ms-flex-pack: justify;
    // justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;

    // border-right: 1px solid $text-main;
    a {
      margin: 0 10px;
    }
  }

  .volume-wrap {
    border-right: 0;
  }



  input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: auto;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: $color-primary;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }

  input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #333333;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: $color-primary;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }

  input[type=range]::-moz-range-thumb {

    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #333333;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;

  }

  input[type=range]::-ms-fill-upper {
    background: $color-primary;
    border: 0.2px solid #010101;
    border-radius: 2.6px;

  }

  input[type=range]::-ms-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #333333;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: $color-primary;
  }

  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }
}

.bb-grey {
  border-bottom: 2px solid $text-main;
}


@media only screen and (max-width:1440px) {
  .podcast-player {
    .visualizer {
      h3 {
        font-size: 20px;
      }

      .play-icon-lg {
        a {
          font-size: 56px;
          min-height: 115px;
        }
      }
    }
  }
}
