<ng-template #l>
  Loading
</ng-template>
<div class="podcast-player">
  <div class="visualizer">
    <div class="row">
      <div class="col-md-8">
        <div id="playerContainer"></div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="pod-timings">
          <span #curretTime class="playin-time">0:00</span>
          <span #trackLength class="total-time">0:00</span>
        </div>
      </div>
    </div>
  </div>
  <div class="media-controls">
    <div class="row">
      <div class="col-md-6">
        <div class="controls-wrap ">
          <a href="javascript:void(0)">
            <img src="assets/images/media-repeat.png" alt="">
          </a>
          <a href="javascript:void(0)" (click)="player.skipBackward()">
            <img src="assets/images/media-prev.png" alt="">
          </a>
          <a href="javascript:void(0)" (click)="playPause()">
            <img *ngIf="!isPlaying" src="assets/images/media-play.png" alt="">
            <img *ngIf="isPlaying" src="assets/images/media-pause.png" alt="">
          </a>
          <a href="javascript:void(0)" (click)="player.skipForward()">
            <img src="assets/images/media-next.png" alt="">
          </a>
          <a href="javascript:void(0)">
            <img src="assets/images/media-shuffle.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-6 align-self-center">
        <div class="volume-wrap">
          <a href="javascript:void(0)">
            <img src="assets/images/volume-down.png" alt="">
          </a>
          <input type="range" name="volumeControl" [(ngModel)]="volume" (ngModelChange)="onChangeVolume()" min="0" max="100"
            step="1" />
          <a href="javascript:void(0)">
            <img src="assets/images/volume-up.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
