@import 'variables';

ul {
  li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 22px;
    color: $boulder_grey;
    padding: 23px 36px;
    line-height: 30px;

    a {
      width: 100%;
      color: $boulder_grey;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    span {
      font-size: 20px;
      color: $color-primary;
      margin-left: 20px;
      margin-left: auto;
    }

    &:nth-child(odd) {
      background: $color-strokes;
    }
  }
}

@media only screen and (max-width:1440px) {
  ul {
    li {
      padding: 13px 25px;
      font-size: 18px;

      span {
        font-size: 18px;
      }
    }
  }
}
