<div class="login-container">
  <div class="overlay"></div>
  <div class="content-container">
    <div class="header-container">
      <h1 class="title">Log in...</h1>
      <h3 class="title-comment">to your DSODentist account here:</h3>
    </div>
    <div class="form-container">
      <form [formGroup]="loginForm" (submit)="login()">
        <button class="btn btn-default btn-linkedin" type="button" (click)="loginWithLinkedIn()">
          <img class="social-image" src="./assets/images/icons/icon-linkedin.png">
          <span class="title">Log in with LinkedIn</span>
        </button>
        <p class="text-or">or</p>
        <div class="form-group input-group login-control" [ngClass]="{'invalid-control': username.invalid && (username.dirty || username.touched)}">
          <div class="input-group-prepend">
            <i class="input-group-text fa fa-envelope"></i>
          </div>
          <input type="text" class="form-control" placeholder="Email address" formControlName="username">
          <div class="invalid-msg-container" *ngIf="username.invalid && (username.dirty || username.touched)">
            <span class="invalid-input" *ngIf="username.errors.required">The email can't be blank.</span>
            <span class="invalid-input" *ngIf="username.errors.email">Please input correct email format.</span>
          </div>
        </div>
        <div class="input-group login-control" [ngClass]="{'invalid-control': password.invalid && (password.dirty || password.touched)}">
          <div class="input-group-prepend">
            <i class="input-group-text fa fa-lock"></i>
          </div>
          <input [type]="isShowPassword ? 'text' : 'password'" class="form-control" placeholder="Password"
            formControlName="password">
          <div class="password-visible-wrapper">
            <a (click)="isShowPassword = !isShowPassword" class="action">{{isShowPassword ? 'Hide' : 'Show'}}</a>
          </div>
          <div class="invalid-msg-container" *ngIf="password.invalid && (password.dirty || password.touched)">
            <span class="invalid-input" *ngIf="password.errors.required">The pasword can't be blank.</span>
            <span class="invalid-input" *ngIf="password.value.length && password.errors">
              Password should be at least 8-16 characters in length with at least one uppercase letter and one number.
            </span>
          </div>
        </div>
        <div class="remember-container">
          <label class="checkbox-inline">
            <input type="checkbox" value="">Remember me
          </label>
          <span class="forgot-pass" routerLink="/reset-pass">
            Forgot password?
          </span>
        </div>
        <button class="btn btn-default btn-login" type="submit" [disabled]="loginForm.invalid">Login</button>
        <div class="join-container">
          <span>Need to create an account?</span>
          <button type="button" class="btn btn-default btn-join" (click)="onSignup()">Join</button>
        </div>
      </form>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-scale-multiple"></ngx-spinner>
