<div class="sponsor-posts-container">
  <div class="row">
    <div class="col-md-12" *ngFor="let post of posts">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
          <div class="our-sponsors">
            <div class="our-sponsors-header">
              <h4 *ngIf="post.sponsorName === 'ALN'">
                <img src="assets/images/align-logo.png" alt="">
                Sponsored content from Align Technology, Inc.
              </h4>
              <h4 *ngIf="post.sponsorName === 'NBL'">
                <img src="assets/images/nb-logo.png" alt="">
                Sponsored content from Nobel Biocare, N.A.
              </h4>
              <h4 *ngIf="post.sponsorName === 'GSK'">
                <img src="assets/images/gsk-icon-sm.png" alt="">
                Sponsored content from GlaxoSmithKline
              </h4>
            </div>
            <dsod-topic [topic]="post" [showImage]="false" styleFor="content-lg" [showHeader]="false"></dsod-topic>
          </div>
        </div>
        <div class="col-lg-4">
          <section class="sponsors-ortho">
            <div>
              <dsod-media-content title="implant Dentisty" [placeholderImageSrc]="post.featuredMedia.code.originalUrl"
                [title]="post.categoryName">
              </dsod-media-content>
            </div>
          </section>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </div>
</div>
