<div class="block-wrap">
  <div class="topic-block" [ngClass]="{'topic-block-sm':styleFor==='content-sm','topic-block-lg':styleFor=='content-lg'}">
    <div class="topic-block-header" *ngIf="showHeader">
      <a href="javascript:void(0)" (click)="onClickCategory(topic.categoryId)">
        <h4 [ngClass]="{'aln':sponsorName=='ALN','nbl':sponsorName=='NBL','gsk':sponsorName=='GSK'}">{{topic.categoryName}}</h4>
      </a>
      <dsod-rating *ngIf="showRating" [avgRating]="topic.avgCommentRating" readingType="short" [clickAble]="true"
        [contentId]="topic.id" [title]="topic.title" [commentsCount]="topic.countOfComment" [sponsorName]="sponsorName"></dsod-rating>
      <h4 *ngIf="!showRating">{{topic.publishDate | date:'mediumDate'}}</h4>
    </div>
    <div class="topic-block-thumbnail" *ngIf="topic.featuredMedia && topic.featuredMedia.type === '1' && showImage">
      <a role="button" (click)="navigateTo($event)">
        <img *ngIf="imgLarge; else imgsm" [src]="featuredImageUrl" class="img-fluid img-lg" alt="Feautred Thumbnail Large">
        <ng-template #imgsm>
           <img [src]="featuredImageUrl" class="img-fluid" alt="Feautred Thumbnail small">
        </ng-template>
      </a>
      <a role="button" class="read-about thumbnail-link" (click)="navigateTo($event)" *ngIf="topic.contentTypeName">
        <img src="assets/images/icons/{{topic.contentTypeName}}.png" alt="">
      </a>
    </div>
    <div class="topic-block-thumbnail" *ngIf="topic.featuredMedia && topic.featuredMedia.type === '3' && showImage">
      <a role="button" (click)="navigateTo($event)">
        <video *ngIf="imgLarge; else imgsm" class="featured-video img-fluid img-lg" width="100%" controls>
          <source [src]="featuredImageUrl" type="video/mp4">
        </video>
        <ng-template #imgsm>
          <video class="featured-video img-fluid" width="100%" controls>
            <source [src]="featuredImageUrl" type="video/mp4">
          </video>
        </ng-template>
      </a>
      <a role="button" class="read-about thumbnail-link" (click)="navigateTo($event)" *ngIf="topic.contentTypeName">
        <img src="assets/images/icons/{{topic.contentTypeName}}.png" alt="">
      </a>
    </div>
    <div class="topic-block-thumbnail iframe-section" *ngIf="topic.featuredMedia && topic.featuredMedia.type === '6' && showImage">
      <a role="button" (click)="navigateTo($event)">
        <div class="iframe-container w-100" [innerHTML]="iFrameCode"></div>
      </a>
      <a role="button" class="read-about thumbnail-link" (click)="navigateTo($event)" *ngIf="topic.contentTypeName">
        <img src="assets/images/icons/{{topic.contentTypeName}}.png" alt="">
      </a>
    </div>
    <div class="topic-block-content">
      <!-- RK: FOR DEMO - HARDCODED THIS URL FOR NBL - IT SHOULD BE FIXED ASAP. BEGIN -->
      <ng-template [ngIf]="topic.title === 'A Lens into Clinical Photography'">
        <img class="img-fluid w-100 mt-2 mb-3 ng-star-inserted" src="https://cmsapi1.dsodentist.com/content/contentservice/v1/file/downloadFileByObjectId?objectId=5c8fb2bcd57eb44d9ce7cbb7">
      </ng-template>
      <!-- RK: FOR DEMO - HARDCODED THIS URL FOR NBL - IT SHOULD BE FIXED ASAP. END -->

      <h2 class="topic-title-large mb-1" [ngClass]="{'topic-title-small':styleFor=='content-sm'}" (click)="navigateTo($event)">{{topic.title}}</h2>
      <em *ngIf="topic.author" (click)="onClickAuthor(topic.authorId)">By&nbsp;{{topic.author.fullName}}
        <a role="button" class="read-about" *ngIf="styleFor==='content-sm'&& (!topic.featuredMedia || !showImage)"
          (click)="navigateTo(topic)">
          <img src="assets/images/icons/{{topic.contentTypeName}}.png" alt="" (click)="navigateTo($event)">
        </a>
      </em>

      <dsod-excerpt [topic]="topic" [contentLength]="contentLength" [styleFor]="styleFor"></dsod-excerpt>
    </div>
  </div>
</div>
