<div class="reviews p-t-115">
  <div class="reviews-header">
    <h3>Finished the content?</h3>
    <h4 (click)="openAddReviewModal()">Add your review</h4>
    <dsod-rating></dsod-rating>
  </div>
  <div class="reviews-avg">
    <div class="">
      <h4>6 reviews</h4>
      <div class="rating-points d-flex align-items-center">
        <dsod-rating></dsod-rating> <span class="points ml-2">4.7</span>
      </div>
    </div>
    <div class="">
      <a href="#">View all</a>
    </div>
  </div>
  <div class="all-reviews">
    <ul>
      <li>
        <div class="reviewer-avi">
          <img src="assets/images/reviewer.png" alt="">
        </div>
        <div class="review-content">
          <h4>
            Slobdan rated it
            <dsod-rating></dsod-rating>
          </h4>
          <span>12 oct, 2018</span>
          <p>Wonderful</p>
        </div>
      </li>
      <li>
        <div class="reviewer-avi">
          <img src="assets/images/reviewer.png" alt="">
        </div>
        <div class="review-content">
          <h4>
            Slobdan rated it
            <dsod-rating></dsod-rating>
          </h4>
          <span>12 oct, 2018</span>
          <p>Wonderful</p>
        </div>
      </li>
      <li>
        <div class="reviewer-avi">
          <img src="assets/images/reviewer.png" alt="">
        </div>
        <div class="review-content">
          <h4>
            Slobdan rated it
            <dsod-rating></dsod-rating>
          </h4>
          <span>12 oct, 2018</span>
          <p>Wonderful</p>
        </div>
      </li>
      <li>
        <div class="reviewer-avi">
          <img src="assets/images/reviewer.png" alt="">
        </div>
        <div class="review-content">
          <h4>
            Slobdan rated it
            <dsod-rating></dsod-rating>
          </h4>
          <span>12 oct, 2018</span>
          <p>Wonderful</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="reviews-footer">
    <a href="#">
      <img src="assets/images/bookmark-ribbon.png" alt="">
    </a>
    <a href="#">
      <img src="assets/images/share-icon.png" alt="">
    </a>

  </div>
</div>
