<div class="reviews p-t-115">
  <div class="reviews-header">
    <h3>Finished the content?</h3>
    <h4 (click)="openAddReviewModal()">Add your review</h4>
    <dsod-rating></dsod-rating>
  </div>
  <div class="reviews-avg">
    <div class="">
      <h4>{{reviewsCount}} reviews</h4>
      <div class="rating-points d-flex align-items-center">
        <dsod-rating [rating]="avgRating"></dsod-rating> <span *ngIf="avgRating" class="points ml-2">{{avgRating[0]}}</span>
      </div>
    </div>
    <div *ngIf="commentsLength > 4">
      <a href="javascript:void(0)" (click)="showAllComments()">{{(toIndex==4?'View all':'View less')}}</a>
    </div>
  </div>
  <div class="all-reviews">
    <ul>
      <li *ngFor="let comment of comments$ | async |slice :0:toIndex">
        <div class="reviewer-avi">
          <img src="assets/images/reviewer.png" alt="">
        </div>
        <div class="review-content">
          <h4>
            {{comment.email}}
            <dsod-rating [rating]="comment.comment_rating"></dsod-rating>
          </h4>
          <span>{{comment.create_time | date:'mediumDate'}}</span>
          <p>{{comment.comment_text}}</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="reviews-footer">
    <a href="#">
      <img src="assets/images/bookmark-ribbon.png" alt="">
    </a>
    <a href="#">
      <img src="assets/images/share-icon.png" alt="">
    </a>

  </div>
</div>
