<div class="edit-profile-container">
  <div class="profile-header">
    <span>Edit Profile</span>
  </div>
  <div class="profile-body">
    <div class="action-container" (click)="saveProfile()">
      <span class="action-name">Save</span>
      <i class="fa fa-save"></i>
    </div>
    <div class="section-container">
      <div class="profile-image-container">
        <span class="profile-title">Profile Photo</span>
        <div *ngIf="croppedImage; else elseBlock" class="avatar-container">
          <img [src]="croppedImage">
          <span class="edit-icon">
            <i class="fa fa-pencil"></i>
          </span>
          <input type="file" (change)="selectFile($event)" accept="image/*"
              class="upload-hidden">
        </div>
        <ng-template #elseBlock>
          <div class="avatar-container">
            <img class="avatar" [src]="userProfile?.photo_url ? (avatarBaseUrl + userProfile.photo_url) : './assets/images/no-avatar.png'">
            <span class="edit-icon">
              <i class="fa fa-pencil"></i>
            </span>
            <input type="file" (change)="selectFile($event)" accept="image/*"
              class="upload-hidden">
          </div>
        </ng-template>
      </div>
      <div class="info-container">
        <p class="title">Personal Info</p>
        <div class="body-wrapper">
          <div class="body-item-wrapper">
            <div class="item-content no-padding no-margin">
              <span class="title">Full Name</span>
              <div class="input-group">
                <input type="text">
                <span class="fa fa-pencil"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <p class="title">Speciality</p>
        <div class="body-wrapper">
          <div class="body-item-wrapper">
            <ng-select
              class="custom-select"
              [items]="specialities"
              bindLabel="name"
              bindValue="id"
              class="select-item"
              placeholder="Select Speciality">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <p class="title">Upload resume or import Data</p>
        <div class="body-wrapper">
          <div class="body-item-wrapper">
            <div class="icon-body-item upload-resume-background">
              <img src="./assets/images/icons/icon_upload.png">
            </div>
            <div class="item-content">
              <span class="title">Upload resume</span>
              <span class="content">Your professional information will be imported automatically</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <p class="title">Experience</p>
        <div class="body-wrapper" *ngIf="userProfile?.experiences.length; else noExperience">
          <div class="body-item-wrapper" *ngFor="let experience of userProfile?.experiences">
            <div class="icon-body-item gray-background">
              <img src="./assets/images/icons/icon_experience_active.png">
            </div>
            <div class="item-content">
              <span class="title">{{experience.practice_Role?.name}}</span>
              <span class="content">{{experience.practice_DSO?.name}}</span>
              <span class="content" *ngIf="experience?.end_time">
                {{experience?.start_time | date:"MMM yyyy":'+0000'}} - {{experience?.end_time | date:"MMM yyyy":'+0000'}}
              </span>
              <span class="content" *ngIf="!experience?.end_time">
                {{experience?.start_time | date:"MMM yyyy":'+0000'}} - Present
              </span>
            </div>
            <div class="icon-add-new" *ngIf="!isAddNewExperience" (click)="isAddNewExperience = true">
              <img src="./assets/images/icons/icon_add_new.png">
            </div>
            <div class="icon-add-new" *ngIf="isAddNewExperience" (click)="isAddNewExperience = false">
              <img src="./assets/images/icons/icon_close_new.png">
            </div>
          </div>
          <div class="add-new-item-container">
            <dsod-add-new-experience
              [show]="isAddNewExperience"
            >
            </dsod-add-new-experience>
          </div>
        </div>
        <ng-template #noExperience>
          <div class="body-wrapper">
            <div class="body-item-wrapper">
              <div class="icon-body-item gray-background">
                <img src="./assets/images/icons/icon_experience_active.png">
              </div>
              <div class="item-content">
                <span class="content">No experience added yet.</span>
              </div>
              <div class="icon-add-new" *ngIf="!isAddNewExperience" (click)="isAddNewExperience = true">
                <img src="./assets/images/icons/icon_add_new.png">
              </div>
              <div class="icon-add-new" *ngIf="isAddNewExperience" (click)="isAddNewExperience = false">
                <img src="./assets/images/icons/icon_close_new.png">
              </div>
            </div>
            <div class="add-new-item-container">
              <dsod-add-new-experience [show]="isAddNewExperience"></dsod-add-new-experience>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <p class="title">Residency</p>
        <div class="body-wrapper" *ngIf="userProfile?.profileResidency.length; else noResidency">
          <div class="body-item-wrapper" *ngFor="let residency of userProfile?.profileResidency">
            <div class="icon-body-item gray-background">
              <img src="./assets/images/icons/icon_location_active.png">
            </div>
            <div class="item-content">
              <span class="title">{{residency.dental_School?.name}}</span>
              <span class="content" *ngIf="residency?.end_time">
                {{residency?.start_time | date:"MMM yyyy":'+0000'}} - {{residency?.end_time | date:"MMM yyyy":'+0000'}}
              </span>
              <span class="content" *ngIf="!residency?.end_time">
                {{residency?.start_time | date:"MMM yyyy":'+0000'}} - Present
              </span>
            </div>
            <div class="icon-add-new" *ngIf="!isAddNewResidency" (click)="isAddNewResidency = true">
              <img src="./assets/images/icons/icon_add_new.png">
            </div>
            <div class="icon-add-new" *ngIf="isAddNewResidency" (click)="isAddNewResidency = false">
              <img src="./assets/images/icons/icon_close_new.png">
            </div>
          </div>
          <div class="add-new-item-container">
            <dsod-add-new-residency [show]="isAddNewResidency"></dsod-add-new-residency>
          </div>
        </div>
        <ng-template #noResidency>
          <div class="body-wrapper">
            <div class="body-item-wrapper">
              <div class="icon-body-item gray-background">
                <img src="./assets/images/icons/icon_location_active.png">
              </div>
              <div class="item-content">
                <span class="content">No residency added yet.</span>
              </div>
              <div class="icon-add-new" *ngIf="!isAddNewResidency" (click)="isAddNewResidency = true">
                <img src="./assets/images/icons/icon_add_new.png">
              </div>
              <div class="icon-add-new" *ngIf="isAddNewResidency" (click)="isAddNewResidency = false">
                <img src="./assets/images/icons/icon_close_new.png">
              </div>
            </div>
            <div class="add-new-item-container">
              <dsod-add-new-residency [show]="isAddNewResidency"></dsod-add-new-residency>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <p class="title">Education</p>
        <div class="body-wrapper" *ngIf="userProfile?.educations.length; else noEducation">
          <div class="body-item-wrapper" *ngFor="let education of userProfile?.educations">
            <div class="icon-body-item gray-background">
              <img src="./assets/images/icons/icon_education_active.png">
            </div>
            <div class="item-content">
              <span class="title">{{education.school_name}}</span>
              <span class="content" *ngIf="education?.end_time">
                {{education?.start_time | date:"MMM yyyy":'+0000'}} - {{education?.end_time | date:"MMM yyyy":'+0000'}}
              </span>
              <span class="content" *ngIf="!education?.end_time">
                {{education?.start_time | date:"MMM yyyy":'+0000'}} - Present
              </span>
            </div>
            <div class="icon-add-new" *ngIf="!isAddNewEducation" (click)="isAddNewEducation = true">
              <img src="./assets/images/icons/icon_add_new.png">
            </div>
            <div class="icon-add-new" *ngIf="isAddNewEducation" (click)="isAddNewEducation = false">
              <img src="./assets/images/icons/icon_close_new.png">
            </div>
          </div>
          <div class="add-new-item-container">
            <dsod-add-new-education [show]="isAddNewEducation"></dsod-add-new-education>
          </div>
        </div>
        <ng-template #noEducation>
          <div class="body-wrapper">
            <div class="body-item-wrapper">
              <div class="icon-body-item gray-background">
                <img src="./assets/images/icons/icon_education_active.png">
              </div>
              <div class="item-content">
                <span class="content">No education added yet.</span>
              </div>
              <div class="icon-add-new" *ngIf="!isAddNewEducation" (click)="isAddNewEducation = true">
                <img src="./assets/images/icons/icon_add_new.png">
              </div>
              <div class="icon-add-new" *ngIf="isAddNewEducation" (click)="isAddNewEducation = false">
                <img src="./assets/images/icons/icon_close_new.png">
              </div>
            </div>
            <div class="add-new-item-container">
              <dsod-add-new-education [show]="isAddNewEducation"></dsod-add-new-education>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <p class="title">Contact Info</p>
        <div class="body-wrapper">
          <div class="body-item-wrapper">
            <div class="icon-body-item">
              <img src="./assets/images/icons/icon_location.png">
            </div>
            <div class="item-content no-padding">
              <span class="title">Practice Address</span>
              <div class="input-group">
                <input type="text">
                <span class="fa fa-pencil"></span>
              </div>
            </div>
          </div>
          <div class="body-item-wrapper">
            <div class="icon-body-item">
              <img src="./assets/images/icons/icon_mobile.png">
            </div>
            <div class="item-content no-padding">
              <span class="title">Mobile Number</span>
              <div class="input-group">
                <input type="text">
                <span class="fa fa-pencil"></span>
              </div>
            </div>
          </div>
          <div class="body-item-wrapper">
            <div class="icon-body-item">
              <img src="./assets/images/icons/icon_email.png">
            </div>
            <div class="item-content no-padding">
              <span class="title">Primary Email Address</span>
              <div class="input-group">
                <input type="text">
                <span class="fa fa-pencil"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
