<div class="edit-profile-container">
  <div class="profile-header">
    <div class="action-container back" (click)="viewProfile()">
      <i class="fa fa-arrow-left"></i>
      <span class="action-name">Back</span>
    </div>
    <span>Edit Profile</span>
    <div class="action-container" (click)="saveProfile()">
      <span class="action-name">Save</span>
      <i class="fa fa-save"></i>
    </div>
  </div>
  <div class="profile-body">
    <div class="section-container">
      <div class="profile-image-container">
        <span class="profile-title">Profile Photo</span>
        <div *ngIf="croppedImage; else elseBlock" class="avatar-container">
          <img class="avatar" [src]="croppedImage">
          <span class="edit-icon">
            <i class="fa fa-pencil"></i>
          </span>
          <input type="file" (change)="selectFile($event)" accept="image/*"
              class="upload-hidden">
        </div>
        <ng-template #elseBlock>
          <div class="avatar-container">
            <img class="avatar" [src]="userProfile?.photo_url ? (avatarBaseUrl + userProfile.photo_url) : './assets/images/no-avatar.png'">
            <span class="edit-icon">
              <i class="fa fa-pencil"></i>
            </span>
            <input type="file" (change)="selectFile($event)" accept="image/*"
              class="upload-hidden">
          </div>
        </ng-template>
      </div>
      <div class="info-container">
        <p class="title">Personal Info</p>
        <div class="body-wrapper">
          <div class="body-item-wrapper">
            <div class="item-content no-padding no-margin">
              <span class="title">Full Name</span>
              <div class="input-group">
                <input type="text" [(ngModel)]="userProfile.full_name">
                <span class="fa fa-pencil"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <p class="title">Speciality</p>
        <div class="body-wrapper">
          <div class="body-item-wrapper">
            <ng-select
              class="custom-select"
              [items]="specialities"
              bindLabel="name"
              bindValue="id"
              [(ngModel)]="userProfile.specialty.id"
              class="select-item"
              placeholder="Select Speciality">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <p class="title">Upload resume or import Data</p>
        <div class="body-wrapper">
          <div class="body-item-wrapper">
            <div class="icon-body-item upload-resume-background">
              <img src="./assets/images/icons/icon_upload.png">
            </div>
            <div class="item-content">
              <span class="title">Upload resume</span>
              <span class="content">Your professional information will be imported automatically</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <div class="title-container">
          <p class="title">Experience</p>
          <div *ngIf="userProfile.experiences.length">
            <div class="icon-add-new" (click)="addExperience(null)">
              <img src="./assets/images/icons/icon_add_new.png">
            </div>
          </div>
        </div>
        <div class="body-wrapper">
          <div *ngIf="userProfile?.experiences.length; else noExperience">
            <div *ngFor="let experience of userProfile.experiences; let i = index">
              <dsod-profile-experience
                [experience]="experience"
                [editable]="true"
                (updateExperience)="updateExperience($event, i)"
                (deleteExperience)="deleteExperience($event, i)">
              </dsod-profile-experience>
            </div>
          </div>
          <ng-template #noExperience>
            <dsod-profile-experience
              [editable]="true"
              (updateExperience)="addExperience($event)">
            </dsod-profile-experience>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <div class="title-container">
          <p class="title">Residency</p>
          <div *ngIf="userProfile.profileResidency.length">
            <div class="icon-add-new" (click)="addResidency(null)">
              <img src="./assets/images/icons/icon_add_new.png">
            </div>
          </div>
        </div>
        <div class="body-wrapper">
          <div *ngIf="userProfile?.profileResidency.length; else noResidency">
            <div *ngFor="let residency of userProfile.profileResidency; let i = index">
              <dsod-profile-residency
                [residency]="residency"
                [editable]="true"
                (updateResidency)="updateResidency($event, i)"
                (deleteResidency)="deleteResidency($event, i)">
              </dsod-profile-residency>
            </div>
          </div>
          <ng-template #noResidency>
            <dsod-profile-residency
              [editable]="true"
              (updateResidency)="addResidency($event)">
            </dsod-profile-residency>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <div class="title-container">
          <p class="title">Education</p>
          <div *ngIf="userProfile.educations.length">
            <div class="icon-add-new" (click)="addEducation(null)">
              <img src="./assets/images/icons/icon_add_new.png">
            </div>
          </div>
        </div>
        <div class="body-wrapper">
          <div *ngIf="userProfile?.educations.length; else noEducation">
            <div *ngFor="let education of userProfile.educations; let i = index">
              <dsod-profile-education
                [education]="education"
                [editable]="true"
                (updateEducation)="updateEducation($event, i)"
                (deleteEducation)="deleteEducation($event, i)">
              </dsod-profile-education>
            </div>
          </div>
          <ng-template #noEducation>
            <dsod-profile-education
              [editable]="true"
              (updateEducation)="addEducation($event)">
            </dsod-profile-education>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <p class="title">Contact Info</p>
        <div class="body-wrapper">
          <dsod-profile-address
            [address]="userProfile.practiceAddress"
            [editable]="true"
            (updateAddress)="updateAddress($event)">
          </dsod-profile-address>
          <div class="body-item-wrapper">
            <div class="icon-body-item">
              <img src="./assets/images/icons/icon_mobile.png">
            </div>
            <div class="item-content no-padding">
              <span class="title">Mobile Number</span>
              <div class="input-group">
                <input type="text" [(ngModel)]="userProfile.phone">
                <span class="fa fa-pencil"></span>
              </div>
            </div>
          </div>
          <div class="body-item-wrapper">
            <div class="icon-body-item">
              <img src="./assets/images/icons/icon_email.png">
            </div>
            <div class="item-content no-padding">
              <span class="title">Primary Email Address</span>
              <div class="input-group">
                <input type="text" [(ngModel)]="userProfile.email">
                <span class="fa fa-pencil"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="info-container">
        <p class="title">Admin Console</p>
        <div class="body-wrapper">
          <div class="body-item-wrapper">
            <div class="icon-body-item gray-background">
              <i class="icon-admin-console fa fa-cogs"></i>
            </div>
            <div class="item-content">
              <span class="content">Access Administrator Controls</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-scale-multiple"></ngx-spinner>
