@import 'variables';

.tab-container {
  width: 100%;
}

.podcasts-tabs {
  margin: 50px 0;
  position: relative;

  h3.podcasts-title {
    font-size: 28px;
    font-weight: 300;
    color: $color-primary;
    position: absolute;
    top: 25px;
  }

  /deep/ ul.nav.nav-tabs {
    margin-left: 300px;
    border: none;

    li.nav-item {
      font-size: 20px;
      color: $mine_grey;
      padding: 10px;
      margin: 0 17px;
      border-bottom: 2px solid transparent;

      a.nav-link {
        font-size: 20px;
        color: $mine_grey;
        padding: 10px;
        border: none;
      }

      &.active {
        border-bottom: 2px solid $color-primary;
      }
    }
  }
}
