/* You can add global styles to this file, and also import other style files */
//glid js
// Required Core Stylesheet
@import '~@glidejs/glide/src/assets/sass/glide.core.scss';

// Optional Theme Stylesheet
@import '~@glidejs/glide/src/assets/sass/glide.theme';

@import './assets/styles/index.scss';

@import '~@ngx-share/button/styles/share-buttons';
@import '~@ngx-share/button/styles/themes/material/material-dark-theme';
@import '~@ngx-share/button/styles/themes/circles/circles-dark-theme';
@import '~@ngx-share/button/styles/themes/modern/modern-light-theme';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 20px;
  font-weight: 600;
}

h2 {
  font-size: 17px;
  font-weight: 500;
}

body {
  font-size: 13px;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

.container {
  max-width: 1710px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

h2.section-title {
  font-size: 30px;
  color: $boulder_grey;
  padding: 0 0 16px 20px;
  border-bottom: 1px solid #c0cad1;
  font-family: $helvetica_font;
  font-weight: bold;
  margin-bottom: 35px;
}

ul,
li,
ul li {
  list-style: none;
}

.glide__arrows {
  .glide__arrow {
    padding: 0;
    border: 0;
    outline: none;
    box-shadow: none;
  }
}

.p-t-115 {
  padding-top: 115px;
}

.top-head {
  padding: 20px 150px 20px 0;

  ul {
    li {
      display: inline-block;
      font-size: 17px;
      color: $text-main;
    }
  }
}

// Generic Media Querries for
@media only screen and (max-width:1680px) {
  h2.section-title {
    font-size: 26px;
  }
}
