/* You can add global styles to this file, and also import other style files */
//glid js
// Required Core Stylesheet
@import '~@glidejs/glide/src/assets/sass/glide.core.scss';

// Optional Theme Stylesheet
@import '~@glidejs/glide/src/assets/sass/glide.theme';

@import './assets/styles/index.scss';

@import '~@ngx-share/button/styles/share-buttons';
@import '~@ngx-share/button/styles/themes/material/material-dark-theme';
@import '~@ngx-share/button/styles/themes/circles/circles-dark-theme';
@import '~@ngx-share/button/styles/themes/modern/modern-light-theme';
@import 'node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 20px;
  font-weight: 600;
}

h2 {
  font-size: 17px;
  font-weight: 500;
}

body {
  font-size: 13px;
  overflow-x: auto;
  position: relative;
}

a {
  text-decoration: none !important;
}



.container {
  margin: 0 auto;
  padding: 0 15px;
}

h2.section-title {
  font-size: 24px;
  color: $boulder_grey;
  padding: 0 0 16px 20px;
  border-bottom: 1px solid #c0cad1;
  font-family: $helvetica_font;
  font-weight: bold;
  margin-bottom: 15px;
}

ul,
li,
ul li {
  list-style: none;
}

.glide__arrows {
  .glide__arrow {
    padding: 0;
    border: 0;
    outline: none;
    box-shadow: none;
  }
}

.p-t-115 {
  padding-top: 115px;
}

.top-head {
  padding: 20px 150px 20px 0;

  ul {
    li {
      display: inline-block;
      font-size: 17px;
      color: $text-main;
    }
  }
}

.block-wrap {
  height: 100%;
  padding-bottom: 30px;
}

.page-content {
  padding-top: 50px;
}

.hide-loader {
  display: none;
}

.viewer-modal {
  .modal-dialog {
    max-width: 100%;
    width: 100%;
    margin: 0;

    .modal-content {
      border: none;
      border-radius: 0;

      .modal-body {
        height: calc(100vh - 153px);
        overflow: hidden auto;
      }

      .modal-footer {
        .btn {
          width: auto;
          min-width: 120px;
        }

        .text-black {
          color: #000;
        }
      }
    }
  }
}

.datepicker-wrap {
  /deep/ .ngb-dp-arrow-btn {
    height: auto;
    color: $text-main;
  }
}

.datepicker-wrap {
  /deep/ .dropdown-menu {
    font-size: 13px;
    font-weight: 400;
  }
}

.create-event {
  .modal-dialog {
    max-width: 1000px;
  }

  .modal-body {
    padding: 50px;
  }
}


@media only screen and (min-width:1440px) {
  .container {
    max-width: 1380px;
  }
}


// Generic Media Querries for
@media only screen and (max-width:1680px) {
  h2.section-title {
    font-size: 22px;
  }
}

@media only screen and (max-width:1440px) {
  h2.section-title {
    font-size: 20px;
  }
}

@media only screen and (max-width:1199px) {
  body {
    overflow-x: scroll;
  }

  .site-wrap {
    min-width: 1180px;
  }

  .container {
    max-width: 100%;
    width: 100%;
  }
}
