<div class="profile-out-click-container"
  [ngClass]="{'hide': !(isOpenedProfilePanel$ | async)}"
  (click)="onClickedOutProfilePanel()"
></div>
<div class="nav-wrapper" onScroll-update>
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <div class="brand">
        <a [routerLink]="['/']"><img class="img img-fluid" src="assets/images/dso-logo.png"></a>
      </div>
      <div class="col-10 d-flex">
        <div class="nav-menu ml-auto">
          <nav class="">
            <div class="" id="navbarSupportedContent">
              <!-- Menu  -->
              <ul class="nav-menu ml-auto">
                <!-- Menu Items  -->
                <li class=" sub-menu-parent" *ngFor="let nav of navigation">
                  <a class="" routerLink={{nav.link}} routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{nav.title}}</a>
                  <!-- Sub Menu -->
                  <ul class="sub-menu" *ngIf="nav.children">
                    <li *ngFor="let child of nav.children" [ngClass]="{'sub-menu-child': child.children}">
                      <a routerLink={{child.link}}>{{child.title}}</a>
                      <ul *ngIf="child.children" class="sub-menu-nested">
                        <li *ngFor="let child of child.children">
                          <a routerLink={{child.link}}>{{child.title}}</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="">
                  <div class="search-area" [ngClass]="{'li-hidden':!isOpen, 'li-open':isOpen}">
                    <button #searchButton type="button" class="nav-link" (click)="toggle()">
                      <img src="assets/images/search-icon.png">
                    </button>
                    <dsod-search [isOpen]=isOpen></dsod-search>
                  </div>
                </li>
                <li class=" login-wrap" *ngIf="(isLoggedIn$ | async)" ngbDropdown placement="bottom-right">
                  <div class="nav-link avatar-wrap">
                    <img class="avatar" [src]="userProfile?.photo_url ? (avatarBaseUrl + userProfile.photo_url) : './assets/images/no-avatar.png'">
                    <li class=" sub-menu-parent" ngbDropdownToggle>
                      <a class="nav-link profile-name">{{userProfile?.full_name}}</a>
                      <ul class="sub-menu">
                        <li>
                          <a (click)="toggleProfilePanel()">Profile</a>
                          <a (click)="toggleProfilePanel()">Settings</a>
                          <a (click)="logout()">Log Out</a>
                        </li>
                      </ul>
                    </li>
                  </div>
                </li>
                <li class=" login-wrap" *ngIf="(isLoggedIn$ | async)">
                  <div class="nav-link avatar-wrap notify-wrapper">
                    <i class="fa fa-bell icon-bell"></i>
                    <span class="alert-count">5</span>
                  </div>
                </li>
                <li class=" login-wrap" *ngIf="!(isLoggedIn$ | async)">
                  <a [routerLink]="['login']" class="nav-link">Login</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
