@import 'variables';

.nav-wrapper {
  background: rgba(0, 0, 0, 0.5);
  padding: 18px 47px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  transition: 0.3s ease all;

  nav.navbar {
    padding: 0.5rem 0;

    ul.navbar-nav {
      margin: 10px 0px;

      li.nav-item {
        border-right: 1px solid $color-white;
        align-items: center;
        display: flex;

        a.nav-link {
          color: $color-white !important;
          border-bottom: 1px solid transparent;
          padding: 0;
          margin: 0 20px;
          font-size: 22px;
          display: block;

          &:hover {
            border-bottom: 1px solid $color-white;
          }

          &.active {
            border-bottom: 1px solid $color-white;
            padding: 0;
          }
        }

        &:last-child {
          border-right: none;
        }

        &.search-area {
          #search-box {
            display: none;
            position: absolute;
            top: 50px;
            right: 0;
            width: 200px;
            padding: 15px;
            background: $color-primary;
            border-radius: 5px;

            &::before {
              position: absolute;
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 10px solid $color-primary;
              right: 22px;
              top: -10px;
              content: "";
            }

            label {
              font-size: 16px;
              color: $color-white;
              text-transform: capitalize;
            }
          }

          .search-active {
            display: block !important;
          }

          .nav-link {
            background: $black;
            padding: 5px 10px;
            line-height: 24px;
            border: none;
            outline: none;
            text-align: center;
            margin: 0 20px;
            cursor: pointer;
          }
        }

        &.login-wrap {
          a.nav-link {
            background: $black;
            padding: 7px 10px;
            line-height: 27px;
            font-size: 22px;
            padding: 6px 20px;
            border-bottom: none;
            cursor: pointer;
          }

          .avatar-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0.5rem;
            cursor: pointer;

            .avatar {
              width: 50px;
              height: 50px;
              border-radius: 50%
            }

            .user-name {
              display: flex;
              flex-direction: column;
              color: $color-white;
              font-size: 20px;
              padding: 0 10px;
            }
          }

          .logged-in-dropdown {
            background-color: rgba(0, 0, 0, 0.5);

            .dropdown-item {
              color: $color-white;

              &:hover {
                background-color: rgba(255, 255, 255, 0.2);
              }
            }
          }
        }
      }
    }
  }

  .brand {
    text-align: left;
    padding-right: 15px;
    padding-top: 10px;

    img {
      max-width: 100%;
    }
  }
}

@media only screen and (max-width:1800px) {
  .nav-wrapper {
    nav.navbar {
      ul.navbar-nav {
        li.nav-item {
          a.nav-link {
            margin: 0 13px;
            font-size: 19px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width:1600px) {
  .nav-wrapper[_ngcontent-c1] {
    padding: 8px 10px;
  }

  .nav-wrapper {
    padding: 18px 10px;

    nav.navbar {
      ul.navbar-nav {
        li.nav-item.login-wrap {
          a.nav-link {
            font-size: 20px;
            padding: 6px 20px;
          }
        }
      }
    }
  }
}


.bg-dark-scroll {
  background: rgba(0, 0, 0, 0.95);
}
