@import 'variables';

.nav-wrapper {
  background: rgba(0, 0, 0, 0.5);
  padding: 18px 47px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  transition: 0.3s ease all;

  nav.navbar {
    padding: 0.5rem 0;

    ul.navbar-nav {
      margin: 10px 0px;

      li.nav-item {
        border-right: 1px solid $color-white;
        align-items: center;
        display: flex;
        position: relative;

        a.nav-link {
          color: $color-white !important;
          border-bottom: 1px solid transparent;
          padding: 0;
          margin: 0 20px;
          font-size: 22px;
          display: block;

          &:hover {
            border-bottom: 1px solid $color-white;
          }

          &.active {
            border-bottom: 1px solid $color-white;
            padding: 0;
          }
        }

        &:last-child {
          border-right: none;
        }

        &.login-wrap {
          a.nav-link {
            background: $black;
            padding: 7px 10px;
            line-height: 27px;
            font-size: 22px;
            padding: 6px 20px;
            border-bottom: none;
            cursor: pointer;
          }

          .avatar-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0.5rem;
            cursor: pointer;

            .avatar {
              width: 50px;
              height: 50px;
              border-radius: 50%
            }

            .user-name {
              display: flex;
              flex-direction: column;
              color: $color-white;
              font-size: 16px;
              padding: 0 10px;
            }
          }

          .logged-in-dropdown {
            background-color: rgba(0, 0, 0, 0.5);

            .dropdown-item {
              color: $color-white;

              &:hover {
                background-color: rgba(255, 255, 255, 0.2);
              }
            }
          }
        }

        &.sub-menu-parent {
          li {
            a {
              font-size: 16px;
              color: $text-main;
              padding: 7px 25px 7px 15px;
              display: block;
              transition: 0.2s all ease;
              line-height: 20px;

              &:hover {
                background: $color-primary;
                color: $color-white;
              }
            }
          }
        }

        .search-area {
          margin: 0 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: row-reverse;

          .nav-link {
            background: $black;
            padding: 5px 10px;
            line-height: 24px;
            border: none;
            outline: none;
            text-align: center;
            cursor: pointer;
          }
        }
      }

      .li-hidden {
        width: 44px;
        overflow: hidden;
        transition: width 0.5s;
        -webkit-transition: width 0.5s;
        -moz-transition: width 0.5s;
      }

      .li-open {
        overflow: visible;
        width: 250px;
        transition: width 0.5s;
        -webkit-transition: width 0.5s;
        -moz-transition: width 0.5s;
      }
    }
  }

  .brand {
    text-align: left;
    padding-right: 15px;
    padding-top: 10px;

    img {
      max-width: 100%;
    }
  }
}

@media only screen and (max-width:1800px) {
  .nav-wrapper {
    nav.navbar {
      ul.navbar-nav {
        li.nav-item {
          a.nav-link {
            margin: 0 13px;
            font-size: 19px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width:1600px) {
  .nav-wrapper[_ngcontent-c1] {
    padding: 8px 10px;
  }

  .nav-wrapper {
    padding: 18px 10px;

    nav.navbar {
      ul.navbar-nav {
        li.nav-item.login-wrap {
          a.nav-link {
            font-size: 20px;
            padding: 6px 20px;
          }
        }
      }
    }
  }
}


.bg-dark-scroll {
  background: rgba(0, 0, 0, 0.95);
}

// .dropdown:hover>.dropdown-menu {
//   display: block;
// }


li.sub-menu-child>a::after {
  content: "\f0da";
  font-family: "FontAwesome";
  font-size: 16px;
  color: $text-main;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

li.sub-menu-child>a:hover::after {
  color: $color-white;
}

.sub-menu-parent {
  position: relative;
}

.sub-menu,
.sub-menu-nested {
  visibility: hidden;
  /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  background: #fff;
  border: 1px solid $text-main;
  min-width: 180px;
}

.sub-menu-child {
  position: relative;
}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu,
.sub-menu-child:focus .sub-menu-nested,
.sub-menu-child:focus-within .sub-menu-nested,
.sub-menu-child:hover .sub-menu-nested {
  visibility: visible;
  /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
  /* this removes the transition delay so the menu will be visible while the other styles transition */
}

.sub-menu-nested {
  left: 100%;
  top: 0;
}
