<div class="profile-out-click-container" [ngClass]="{'hide': !(isOpenedProfilePanel$ | async)}" (click)="onClickedOutProfilePanel()"></div>
<div class="colllapse-menu" *ngIf="menuStatus" (click)="toggleMenu()"></div>
<div class="nav-wrapper" onScroll-update>
  <div class="header-container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="brand">
        <a [routerLink]="['/']"><img class="img img-fluid" src="assets/images/dso-logo.png"></a>
      </div>
      <div class="col-sm-10 d-flex">

        <div class="nav-menu ml-auto w-100">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="w-100 d-flex align-items-center justify-content-end" id="navbarSupportedContent">
              <!-- Menu  -->
              <div class="medium-menu" [ngClass]="menuStatus ? 'open' : 'close'">
                <button class="navbar-toggler" type="button" data-toggle="collapse" tabindex="0" (click)="toggleMenu()"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <ul class="navbar-nav ml-auto flex-row">
                  <li class="nav-item sub-menu-parent" *ngFor="let nav of navigation" [ngClass]="{'menu-has-children': nav.children}">
                    <a class="nav-link" routerLink={{nav.link}} routerLinkActive="active" (click)="toggleMenu()"
                      [routerLinkActiveOptions]="{exact:true}">{{nav.title}}</a>
                    <!-- Sub Menu -->
                    <span class="touch-toggler" *ngIf="nav.children">
                      <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </span>
                    <ul class="sub-menu" *ngIf="nav.children">
                      <li *ngFor="let child of nav.children" [ngClass]="{'sub-menu-child': child.children}">
                        <a routerLink={{child.link}} (click)="toggleMenu()">{{child.title}}</a>
                        <ul *ngIf="child.children" class="sub-menu-nested">
                          <li *ngFor="let child of child.children">
                            <a routerLink={{child.link}}>{{child.title}}</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <ul class="navbar-nav flex-row">
                <!-- Menu Items  -->
                <li class="nav-item sub-menu-parent hidden-medium" *ngFor="let nav of navigation" [ngClass]="{'menu-has-children': nav.children}">
                  <a class="nav-link" href="javascript:void(0)" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="navigateTo(nav.link)">{{nav.title}}</a>
                  <!-- Sub Menu -->
                  <span class="touch-toggler" *ngIf="nav.children">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </span>
                  <ul class="sub-menu" *ngIf="nav.children">
                    <li *ngFor="let child of nav.children" [ngClass]="{'sub-menu-child': child.children}">
                      <a routerLink={{child.link}}>{{child.title}}</a>
                      <ul *ngIf="child.children" class="sub-menu-nested">
                        <li *ngFor="let child of child.children">
                          <a routerLink={{child.link}}>{{child.title}}</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <div class="search-area" [ngClass]="{'li-hidden':!isOpen, 'li-open':isOpen}">
                    <button #searchButton type="button" class="nav-link" (click)="toggle()">
                      <img src="assets/images/search-icon.png">
                    </button>
                    <dsod-search [isOpen]=isOpen></dsod-search>
                  </div>
                </li>
                <li class="nav-item login-wrap" *ngIf="(isLoggedIn$ | async)" ngbDropdown placement="bottom-right">
                  <div class="nav-link avatar-wrap">
                    <img class="avatar" [src]="userProfile?.photo_url ? (avatarBaseUrl + userProfile.photo_url) : './assets/images/no-avatar.png'">
                    <li class="nav-item sub-menu-parent" ngbDropdownToggle>
                      <a class="nav-link profile-name">{{userProfile?.full_name}}</a>
                      <ul class="sub-menu">
                        <li>
                          <a (click)="toggleProfilePanel()">Profile</a>
                          <a (click)="toggleProfilePanel()">Settings</a>
                          <a (click)="logout()">Log Out</a>
                        </li>
                      </ul>
                    </li>
                  </div>
                </li>
                <li class="nav-item login-wrap" *ngIf="(isLoggedIn$ | async)">
                  <div class="nav-link avatar-wrap notify-wrapper">
                    <i class="fa fa-bell icon-bell"></i>
                    <span class="alert-count">5</span>
                  </div>
                </li>
                <li class="nav-item login-wrap" *ngIf="!(isLoggedIn$ | async)">
                  <a [routerLink]="['login']" class="nav-link">Login</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
