@import 'variables';

.header-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.profile-out-click-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 9;

  &.hide {
    visibility: hidden;
  }
}

.nav-wrapper {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 40px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  min-height: 96px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;

  nav.navbar {
    padding: 0.5rem 0;

    ul.navbar-nav {
      margin: 10px 0px;

      li.nav-item {
        border-right: 1px solid $color-white;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;

        a.nav-link {
          color: $color-white !important;
          border-bottom: 1px solid transparent;
          padding: 0;
          margin: 0 20px;
          font-size: 22px;
          display: block;
          white-space: nowrap;
          overflow: hidden;

          &:hover {
            border-bottom: 1px solid $color-white;
          }

          &.active {
            border-bottom: 1px solid $color-white;
            padding: 0;
          }
        }

        &:last-child {
          border-right: none;
        }

        &.login-wrap {
          a.nav-link {
            background: none;
            padding: 7px 10px;
            line-height: 27px;
            font-size: 22px;
            padding: 6px 20px;
            border-bottom: none;
            cursor: pointer;

            &.profile-name {
              background: transparent;
              padding: 0;
            }
          }

          .avatar-wrap {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding: 0 0.5rem;
            cursor: pointer;

            .avatar {
              width: 40px;
              height: 40px;
              border-radius: 50%
            }

            &.notify-wrapper {
              position: relative;

              .icon-bell {
                font-size: 25px;
              }

              .alert-count {
                position: absolute;
                border-radius: 50%;
                background-color: #d23636;
                color: white;
                width: 20px;
                height: 20px;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                top: -10px;
                right: 0px;
              }
            }

            .user-name {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              color: $color-white;
              font-size: 16px;
              padding: 0 10px;
            }
          }

          .logged-in-dropdown {
            background-color: rgba(0, 0, 0, 0.5);

            .dropdown-item {
              color: $color-white;

              &:hover {
                background-color: rgba(255, 255, 255, 0.2);
              }
            }
          }
        }

        &.sub-menu-parent {
          li {
            a {
              font-size: 16px;
              color: $text-main;
              padding: 7px 25px 7px 15px;
              display: block;
              -webkit-transition: 0.2s all ease;
              transition: 0.2s all ease;
              line-height: 20px;

              &:hover {
                background: $color-primary;
                color: $color-white;
              }
            }
          }
        }

        .search-area {
          margin: 0 20px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;

          .nav-link {
            background: none;
            padding: 5px 10px;
            line-height: 24px;
            border: none;
            outline: none;
            text-align: center;
            cursor: pointer;
          }
        }
      }

      .li-hidden {
        width: 44px;
        overflow: hidden;
        transition: width 0.5s;
        -webkit-transition: width 0.5s;
        -moz-transition: width 0.5s;
      }

      .li-open {
        overflow: visible;
        width: 250px;
        transition: width 0.5s;
        -webkit-transition: width 0.5s;
        -moz-transition: width 0.5s;
      }
    }
  }

  .brand {
    text-align: left;
    padding-top: 10px;
    min-width: 150px;

    img {
      max-width: 100%;
    }
  }
}

@media only screen and (max-width:1800px) {
  .nav-wrapper {
    nav.navbar {
      ul.navbar-nav {
        li.nav-item {
          a.nav-link {
            margin: 0 13px;
            font-size: 19px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width:1600px) {
  .nav-wrapper {
    nav.navbar {
      ul.navbar-nav {
        li.nav-item.login-wrap {
          a.nav-link {
            font-size: 19px;
            padding: 6px 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width:1441px) {
  .nav-wrapper {
    nav.navbar {
      ul.navbar-nav {
        li.nav-item {
          a.nav-link {
            margin: 0 10px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width:1366px) {
  .nav-wrapper {
    nav.navbar {
      ul.navbar-nav {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        li.nav-item {
          a.nav-link {
            margin: 0 7px;
            font-size: 14px;
          }

          &.login-wrap {
            a.nav-link {
              font-size: 14px;
            }
          }
        }

        li.nav-item.sub-menu-parent {
          li {
            a {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width:1360px) {
  .nav-wrapper {
    nav.navbar {
      ul.navbar-nav {
        .li-open {
          width: 160px;
        }

        .search-area {
          margin: 0 10px !important;
        }
      }
    }
  }
}

.bg-dark-scroll {
  background: rgba(0, 0, 0, 0.95);

  .notify-wrapper {
    .icon-bell {
      color: white;
      font-size: 25px;
    }
  }
}

li.sub-menu-child>a::after {
  content: "\f0da";
  font-family: "FontAwesome";
  font-size: 16px;
  color: $text-main;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

li.sub-menu-child>a:hover::after {
  color: $color-white;
}

.sub-menu-parent {
  position: relative;
}

.sub-menu,
.sub-menu-nested {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-2em);
  transform: translateY(-2em);
  z-index: -1;
  -webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  background: #fff;
  border: 1px solid $text-main;
  min-width: 180px;
}

.sub-menu-child {
  position: relative;
}

.sub-menu-parent:hover .sub-menu,
.sub-menu-child:hover .sub-menu-nested {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition-delay: 0s, 0s, 0.3s;
  transition-delay: 0s, 0s, 0.3s;
}

.sub-menu-nested {
  left: 100%;
  top: 0;
}
