@import 'variables';

:host {
  .glide__slide {
    position: relative;
    overflow: hidden;

    >img {
      width: 100%;
      margin: auto;
    }

    .slide-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      max-width: 800px;

      h1 {
        font-size: 80px;
        color: $color-white;
        font-weight: 300;
      }

      h2 {
        color: $color-white;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      p {
        font-size: 26px;
        color: $color-white;
        max-width: 600px;
        margin: 0 auto 25px;
        line-height: 35px;
      }

      a.join-btn {
        font-size: 31px;
        background: $color-primary;
        padding: 20px 60px;
        line-height: 24px;
        display: inline-block;
        color: $color-white;
      }
    }
  }

  @media only screen and (max-width:1440px) {
    .glide__slide {
      .slide-caption {
        max-width: 700px;

        h1 {
          font-size: 45px;
        }

        h2 {
          font-size: 24px;
        }

        p {
          font-size: 20px;
          max-width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width:1199px) {
  :host {
    .glide__slide {
      height: auto;
    }
  }
}
