<h2 class="section-title">From Our Sponsors </h2>
<div class="row">
  <div class="row" *ngFor="let topic of sponsoredTopics | contentFilter">
    <div class="col-lg-6">
      <div class="our-sponsors">
        <div class="our-sponsors-header">
          <h4>
            <img src="assets/images/align-logo.png" alt="">
            Sponsored content from Align Technology, Inc.
          </h4>
        </div>
        <dsod-topic [topic]="topic" [contentLenght]=280 [showImage]="false" [imageSmall]="true" [showHeader]="false"></dsod-topic>
      </div>
    </div>
    <div class="col-lg-6">
      <section class="sponsors-ortho">
        <div>
          <dsod-media-content title="implant Dentisty" [placeholderImageSrc]="topic.featuredMediaId" [title]="topic.categoryName">
          </dsod-media-content>
        </div>
      </section>
    </div>
  </div>
</div>
