<h2 class="section-title">From Our Sponsors </h2>
<div class="row">
  <div class="col-12" *ngFor="let topic of sponsoredTopics | slice:0:3">
    <div class="row">
      <div class="col-6">
        <div class="our-sponsors">
          <div class="our-sponsors-header">
            <h4 *ngIf="topic.sponsorName==='ALN'">
              <a [routerLink]="['/sponsors/ALN']"><img src="assets/images/align-logo.png" alt=""></a>
              Sponsored content from Align Technology, Inc.
            </h4>
            <h4 *ngIf="topic.sponsorName==='NBL'">
              <a [routerLink]="['/sponsors/NBL']"><img src="assets/images/nb-logo.png" alt=""></a>
              Sponsored content from Nobel Biocare, N.A.
            </h4>
            <h4 *ngIf="topic.sponsorName==='GSK'">
              <a [routerLink]="['/sponsors/GSK']"><img src="assets/images/gsk-icon-sm.png" alt=""></a>
              Sponsored content from GlaxoSmithKline
            </h4>
          </div>
          <dsod-topic [topic]="topic" [contentLength]=285 [showImage]="false" styleFor="content-lg" [showHeader]="false"></dsod-topic>
        </div>
      </div>
      <div class="col-6">
        <section class="sponsors-ortho">
          <div>
            <dsod-media-content [placeholderImageSrc]="topic.featuredMedia.code.originalUrl"
              [title]="topic.categoryName" [topic]="topic">
            </dsod-media-content>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
